{
  "openapi": "3.0.2",
  "info": {
    "title": "Belvo API Docs",
    "version": "1.20.1",
    "description": "# Introduction\n\nBelvo is an open banking API for Latin America that allows companies to access banking and fiscal information in a secure as well as agile way.\n\nThrough our API, you can access:\n\n\n- **Bank information** such as account information, real-time\nbalance, historical transactions, and account owner identification.\n\n- **Fiscal information** such as received and sent invoices and tax returns.\n\n\n<img src=\"https://files.readme.io/acf27d3-belvo_pipes.png\"\nalt=\"fiscal-endpoints\">\n\n\nIn this API reference you'll find all the information you need about each\n\nendpoint and resource.\n\n\n<div style=\"background-color:#f4f6f8; border-left: 6px solid\n#4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right:\n25px\">\n\n<strong>Tip: </strong> Make sure that you also check out our Developer\nPortal for guides on <a\nhref=\"https://developers.belvo.com/docs/get-started-in-5-minutes\"\ntarget=\"_blank\">how to get started</a>, using our <a\nhref=\"https://developers.belvo.com/docs/test-in-sandbox\"\ntarget=\"_blank\">Sandbox environment</a>, as well as how to <a\nhref=\"https://developers.belvo.com/docs/connect-widget\"\ntarget=\"_blank\">integrate the widget</a> or use our <a\nhref=\"https://developers.belvo.com/docs/quickstart-application\"\ntarget=\"_blank\">quickstart application</a>.\n\n</div>\n\n\n## Environment\n\nWe currently offer three environments: sandbox, development, and\nproduction.\n\n\nWhen using our SDKs, make sure to use the **Alias** (and not the Base URL).\n\n\n| Environment | Purpose | Access |\n|-----------|-------|-------|\n| **Sandbox** | The [Sandbox environment](https://developers.belvo.com/docs/test-in-sandbox) is dedicated for your testing and development phases. In this environment, you can create links without real credentials and you can pull test data from all endpoints. **⚠️The sandbox environment is refreshed frequently and your test data can be updated or deleted.** | Base URL (cURL): https://sandbox.belvo.com/ <br><br>Alias (SDKs): sandbox|\n|**Development**|The Development environment is dedicated for testing with real credentials and institutions with real-world institutions. You can create up to 25 links for free in this environment.| Base URL (cURL): https://development.belvo.com/ <br><br>Alias (SDKs): development |\n| **Production** | The Production environment is dedicated for live applications with real connections to institutions. In this environment, you\nwill need real credentials to create links and you will pull real data from the institutions.| Base URL (cURL): https://api.belvo.com/ <br><br>Alias\n(SDKs): production|\n\n\nFor each environment, you'll need to [generate separate API\nkeys](https://developers.belvo.com/docs/get-your-belvo-api-keys).\n\n\n## Response codes\n\n\nWe use the following HTTP status code in the response depending on the\nsuccess or failure:\n\n\n| Status Code | Description |\n|-----------|-------|\n| `200` | ✅ **Success** - The content is available in the response body. |\n| `201` | ✅ **Success** - The content was created successfully on Belvo. |\n| `204` | ✅ **Success** - No content to return. |\n| `400` | ❌ **Bad Request Error** - Request returned an error, detail in content.|\n| `401` | ❌ **Unauthorized** - The Belvo credentials provided are not valid.|\n| `404` | ❌ **Not Found** - The resource you try to access cannot be found.|\n| `405` | ❌ **Method Not Allowed** - The HTTP method you are using is not accepted for this resource.|\n| `408` | ❌ **Request Timeout** - The request timed out and was terminated by the server.|\n| `428` | ❌ **MFA Token Required** - MFA token was required by the institution to connect. |\n| `500` | ❌ **Internal Server Error** - The detail of the error is available in the response body.|\n\n\n## Error handling\n\n\n### Error messages\n\n\nBelvo API errors are returned in JSON format. For example, an error might\nlook like this:\n\n\n```json\n\n[\n    {\n      \"request_id\": \"a6e1c493d7a29d91aed4338e6fcf077d\",\n      \"message\": \"This field is required.\",\n      \"code\": \"required\",\n      \"field\": \"link\"\n    }\n]\n\n```\n\n\nTypically, an error response will have the following parameters:\n\n- `request_id`: a unique ID for the request, you should share it with the\nBelvo support team for investigations.\n\n- `message`: human-readable description of the error.\n\n- `code`: a unique code for the error. Check the table below to see how to\nhandle each error code.\n\n- `field` *(optional)*: The specific field in the request body that has an\nissue.\n\n\n\n### Request identifier\n\nWhen you need help with a specific error, add the request identifier\n(`request_id`) in your message to the Belvo support team. This will speed up\ninvestigations and get you back up and running in no time at all.\n\n\n### Error codes and troubleshooting\n\n\nFor a full list of errors and how to troubleshoot them, please see our\ndedicated [Error handling\narticles](https://developers.belvo.com/docs/integration-overview#error-handling)\nin our DevPortal.\n\n\n\n### Retry policy\n\n\nPlease see our recommended [retry\npolicies](https://developers.belvo.com/docs/integration-overview#error-retry-policy)\nin the DevPortal.\n",
    "contact": {
      "name": "Need help?",
      "url": "https://developers.belvo.com",
      "email": "support@belvo.com"
    },
    "x-logo": {
      "url": "https://files.readme.io/5111448-belvo-for-developers.svg",
      "altText": "Belvo logo"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.belvo.com",
      "description": "Sandbox"
    },
    {
      "url": "https://development.belvo.com",
      "description": "Development"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Belvo employs **basic authentication** using your secret keys. Just use your secretId as the `username` and secretPassword as the `password`. For example:\n\n```text Authentication example\ncurl \\\n    -u =BASE64-SECRET_ID=:=BASE64-SECRET_PASSWORD=\n    https://sandbox.belvo.com/api/\n```\n\nFor information on how to get your API keys, check out our [Get Started in 5 Minutes](https://developers.belvo.com/docs/get-started-in-5-minutes) DevPortal article."
      }
    },
    "schemas": {
      "Link": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Belvo's unique ID used to reference the current Link.",
            "example": "30cb4806-6e00-48a4-91c9-ca55968576c8"
          },
          "institution": {
            "type": "string",
            "description": "Belvo's name for the institution.\n",
            "example": "erebor_mx_retail"
          },
          "access_mode": {
            "type": "string",
            "enum": [
              "single",
              "recurrent"
            ],
            "description": "The link type.\nFor more information, see our [Links](https://developers.belvo.com/docs/links-and-institutions#links) article.\nWe return one of the following enum values:\n  - `single`\n  - `recurrent`\n",
            "example": "recurrent"
          },
          "last_accessed_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "The ISO-8601 timestamp of Belvo's most recent successful access to the institution for the given link.",
            "example": "2019-09-27T13:02:03.584Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO-8601 timestamp of when the data point was last updated in Belvo's database.",
            "example": "2022-02-09T08:45:50.406032Z"
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "The `external_id` you provided as an additional identifier for the link. For more information, see our [Link creation article](https://developers.belvo.com/docs/link-creation-best-practices#adding-your-own-identifier).",
            "example": "56ab5706-6e00-48a4-91c9-ca55968678d9"
          },
          "institution_user_id": {
            "type": "string",
            "pattern": "[A-Za-z0-9\\-=_]{44}",
            "description": "<div style=\"background-color:#f4f6f8; border-left: 6px solid #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px\"> <strong>Info:</strong> Only applicable for links created <b>after 08-02-2022</b>. </div>\n\nA unique 44-character string that can be used to identify a user at a given institution.\n\n📚 Check out our [Avoiding duplicated links](https://developers.belvo.com/docs/link-creation-best-practices#avoiding-duplicated-links) DevPortal article for more information and tips on how to use it.",
            "example": "sooE7XJWEKypZJR603ecaWYk-8Ap0oD8Nr1pBQ4eG9c="
          },
          "status": {
            "type": "string",
            "enum": [
              "valid",
              "invalid",
              "unconfirmed",
              "token_required"
            ],
            "description": "The current status of the link. For more information, see our [Link](https://developers.belvo.com/docs/links-and-institutions#links) article in the devportal.\nWe return one of the following enum values:\n  - `valid`\n  - `invalid`\n  - `unconfirmed`\n  - `token_required`\n"
          },
          "created_by": {
            "type": "string",
            "format": "uuid",
            "description": "The unique ID for the user that created this link.",
            "example": "bcef7f35-67f2-4b19-b009-cb38795faf09"
          },
          "refresh_rate": {
            "type": "string",
            "default": "7d",
            "enum": [
              "6h",
              "12h",
              "24h",
              "7d",
              "30d"
            ],
            "description": "The update refresh rate for the recurrent link. For more information, check out our [recurrent link documentation](https://developers.belvo.com/docs/links-and-institutions#recurrent-links) in our DevPortal.\nWe return one of the following enum values:\n  - `6h`\n  - `12h`\n  - `24h`\n  - `7d` (default)\n  - `30d` (once a month)\n",
            "example": "7d"
          }
        }
      },
      "PaginatedResponseLink": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "description": "The total number of results in your Belvo account.",
            "example": 130
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "The URL to next page of results. Each page consists of up to 100 items. If there are not enough results for an additional page, the value is `null`.\n\nIn our documentation example, we use `{endpoint}` as a placeholder value. In production, this value will be replaced by the actual endpoint you are currently using (for example, `accounts` or `owners`).\n",
            "example": "https://sandbox.belvo.com/api/{endpoint}/?page=2"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "The URL to the previous page of results. If there is no previous page, the value is `null`.",
            "example": null
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "title": "Unauthorized Error",
        "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`authentication_failed`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#401-authentication_failed\" target=\"_blank\">401 authentication_failed errors</a>.",
            "example": "authentication_failed"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `authentication_failed` errors, the description is:\n\n  - `Invalid Secret Keys`.",
            "example": "Invalid Secret Keys"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "LinksRequest": {
        "type": "object",
        "required": [
          "institution",
          "username",
          "password"
        ],
        "properties": {
          "institution": {
            "type": "string",
            "pattern": "[a-z]+_[a-z]{2}_[a-z]+",
            "description": "The Belvo name for the institution.",
            "example": "erebor_mx_retail"
          },
          "username": {
            "type": "string",
            "description": "The end-user's username used to log in to the institution.",
            "example": "username"
          },
          "password": {
            "type": "string",
            "description": "The end-user's password used to log in to the institution.",
            "example": "password"
          },
          "external_id": {
            "type": "string",
            "description": "An additional identifier for the link, provided by you, to store in the Belvo database. **Cannot** include any Personal Identifiable Information (PII).\n\nIf we identify that the identifier contains PII, we will force a `null` value. For more information, see our [Link creation article](https://developers.belvo.com/docs/link-creation-best-practices#adding-your-own-identifier).",
            "example": "56ab5706-6e00-48a4-91c9-ca55968678d9"
          },
          "username2": {
            "type": "string",
            "description": "The end-user's second username used to log in to the institution.\n\nℹ️ This is only required by some institutions. To know which institutions require a second username, get the [details](https://developers.belvo.com/reference/detailinstitution) for the institution and check the `form_fields` array in the response.\n",
            "example": "secondusername"
          },
          "username3": {
            "type": "string",
            "description": "The end-user's third username used to log in to the institution.\n\nℹ️ This is only required by some institutions. To know which institutions require a third username, get the [details](https://developers.belvo.com/reference/detailinstitution) for the institution and check the `form_fields` array in the response.\n",
            "example": "thirdusername"
          },
          "password2": {
            "type": "string",
            "description": "The end-user's second password used to log in to the institution.\n\nℹ️ This is only required by some institutions. To know which institutions require a second password, get the [details](https://developers.belvo.com/reference/detailinstitution) for the institution and check the `form_fields` array in the response.\n",
            "example": "pin"
          },
          "token": {
            "type": "string",
            "description": "The MFA token required by the bank to log in.\n\nWe do not recommend sending the authentication token in the same request as registering the user. See our [Handling multi-factor authentication](https://developers.belvo.com/docs/handling-2-factor-authentication) article for more information and best practices.\n",
            "example": "1234ab"
          },
          "access_mode": {
            "description": "The type of link to create.\n\n- Use `single` to do ad hoc one-time POST requests for accounts, owners, and transactions.\n- Use `recurrent` to have Belvo access information on a recurrent basis so you always have fresh account, owner, balance, and transaction data.\n\nFor more information, see our [Links](https://developers.belvo.com/docs/links-and-institutions#links) article.\n",
            "enum": [
              "single",
              "recurrent"
            ],
            "default": "recurrent"
          },
          "username_type": {
            "type": "string",
            "description": "Type of document to be used as a username.\n\nSome banking institutions accept different documents to be used as the `username` to login. For example, the *Cédula de Ciudadanía*, *Cédula de Extranjería*, *Pasaporte'*, and so on.\n\nFor banks that require a document to log in, you **must** provide the `username_type` parameter to specify which document is used when creating the link.\n\nℹ️ To know which institutions require the `username_type` parameter, get the [details](https://developers.belvo.com/reference/detailinstitution) for the institution and check the `form_fields` array in the response.\n\nFor a list of standards codes, see the table below.\n\n| Code | Description |\n|-----------|-------|\n| `001` | Cédula de Ciudadanía |\n| `002` | Cédula de Extranjería |\n| `003` | Pasaporte |\n| `004` | Tarjeta de Identidad |\n| `005` | Registro Civil |\n| `006` | Número Identificación Personal |\n| `020` | NIT |\n| `021` | NIT Persona Natural |\n| `022` | NIT Persona Extranjera |\n| `023` | NIT Persona Jurídica |\n| `024` | NIT Menores |\n| `025` | NIT Desasociado |\n| `030` | Trj. Seguro Social Extranjero |\n| `031` | Sociedad Extranjera sin NIT en Colombia |\n| `032` | Fideicomiso |\n| `033` | RIF Venezuela |\n| `034` | CIF |\n| `035` | Número de Identidad |\n| `036` | RTN |\n| `037` | Cédula de Identidad |\n| `038` | DIMEX |\n| `039` | CED |\n| `040` | PAS |\n| `041` | Documento Único de Identidad |\n| `042` | NIT Salvadoreño |\n| `100` | Agência e conta |\n| `101` | Código do operador |\n| `102` | Cartão de crédito |\n| `103` | CPF |\n",
            "example": "001"
          },
          "certificate": {
            "type": "string",
            "description": "For certain fiscal institutions, it is possible to log in using a certificate and a private key, which enables a faster connection to the institution.\n\nBelvo supports a base64 encoded `certificate`. If the `certificate` parameter is used, you *must* also provide the `private_key` parameter.\n",
            "example": "1234567890abcd="
          },
          "private_key": {
            "type": "string",
            "description": "For certain fiscal institutions, it is possible to log in using a certificate and a private key, which enables a faster connection to the institution.\n\nBelvo supports a base64 encoded `private_key`. If the `private_key` parameter is used, you *must* also provide the `certificate` parameter.\n",
            "example": "1234567890abcd="
          }
        }
      },
      "TooManySessionsError": {
        "type": "object",
        "title": "Too Many Sessions",
        "description": "This error occurs when:\n\n  - a user is attempting to log in to their institution via Belvo while also already being logged in to their institution on a web browser or mobile app.\n  - you make a request for information while Belvo is scraping data from the institution for that user.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`too_many_sessions`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-too_many_sessions\" target=\"_blank\">400 too_many_sessions errors</a>.",
            "example": "too_many_sessions"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `too_many_sessions` errors, the description is:\n  \n  - `Impossible to login, a session is already opened with the institution for these credentials`.",
            "example": "Impossible to login, a session is already opened with the institution for these credentials"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "SessionExpiredError": {
        "type": "object",
        "title": "Session Expired",
        "description": "This error occurs when you try to resume a request session that has already expired. This is usually because the user took too long to provide their authentication token.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`session_expired`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-session_expired\" target=\"_blank\">400 session_expired errors</a>.",
            "example": "session_expired"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `session_expired` errors, the description is:\n  \n  - `The session you are trying to resume has expired, please start again from register/retrieve endpoint`.",
            "example": "The session you are trying to resume has expired, please start again from register/retrieve endpoint"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "title": "Validation Error",
        "description": "This error occurs when you try to resume a request session that has already expired. This is usually because the user took too long to provide their authentication token.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`null`, `does_not_exist`, `required`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle:\n  - <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-blank\" target=\"_blank\">400 blank errors</a>\n  - <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-null\" target=\"_blank\">400 null errors</a>\n  - <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-does_not_exist\" target=\"_blank\">400 does_not_exist errors</a>\n  - <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-required\" target=\"_blank\">400 required errors</a>",
            "example": "required"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `session_expired` errors, the description can be (among others):\n  \n  - `This field is required.`\n  - `Object with name=narnia does not exist.`\n  - `This field may not be null.`\n  - `This field may not be blank.`",
            "example": "This field is required."
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          },
          "field": {
            "type": "string",
            "nullable": true,
            "description": "Name of the field where the error was encountered.",
            "example": "link"
          }
        }
      },
      "InstitutionDownError": {
        "type": "object",
        "title": "Institution Down",
        "description": "This error occurs when the institution's website that you're trying to access is down due to maintenance or other issues, which means Belvo is unable to create new links or retrieve new data.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`institution_down`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-institution_down\" target=\"_blank\">400 institution_down errors</a>.",
            "example": "institution_down"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `institution_down` errors, the description is:\n  \n  - `The financial institution is down, try again later`.",
            "example": "The financial institution is down, try again later"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "InstitutionUnavailableError": {
        "type": "object",
        "title": "Institution Unavailable",
        "description": "This error occurs when the institution's website that you're trying to access is down due to maintenance or other issues, which means Belvo is unable to create new links or retrieve new data.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`institution_unavailable`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-institution_unavailable\" target=\"_blank\">400 institution_unavailable errors</a>.",
            "example": "institution_unavailable"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error.\n\nFor `institution_unavailable` errors, the description is:\n  \n  - `The financial institution is unavailable`.",
            "example": "The financial institution is unavailable"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "InstitutionInactiveError": {
        "type": "object",
        "title": "Institution Inactive",
        "description": "This error occurs when we (Belvo) have deactivated the institution in our API.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`institution_inactive`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-institution_inactive\" target=\"_blank\">400 institution_inactive errors</a>.",
            "example": "institution_inactive"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `institution_inactive` errors, the description is:\n  \n  - `The institution has been temporarily deactivated`.",
            "example": "The institution has been temporarily deactivated"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "UnsupportedOperationError": {
        "type": "object",
        "title": "Unsupported Operation",
        "description": "This error occurs when you try to access some data operation that Belvo does not support for an institution. For example, trying to access the Balances resource for fiscal institutions.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`unsupported_operation`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-unsupported_operation\" target=\"_blank\">400 unsupported_operation errors</a>.",
            "example": "unsupported_operation"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `unsupported_operation` errors, the description is:\n  \n  - `The resource you are trying to access is not supported by this institution`.",
            "example": "The resource you are trying to access is not supported by this institution"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "InvalidLinkError": {
        "type": "object",
        "title": "Invalid Link",
        "description": "This error occurs when you try to access an account but the user credentials are no longer valid, prompting an error from the institution.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`invalid_link`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-invalid_link\" target=\"_blank\">400 invalid_link errors</a>.",
            "example": "invalid_link"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `invalid_link` errors, the description is:\n  \n  - `The link has been invalidated. You may need to update link credentials`.",
            "example": "The link has been invalidated. You may need to update link credentials"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "UnconfirmedLinkError": {
        "type": "object",
        "title": "Unconfirmed Link",
        "description": "This error occurs when you try to access a link that was paused previously (and as such is not active now).\nA Link's status is set to `unconfirmed_link` when your user has not completed the Link creation process successfully (for example, they might not provide a valid MFA token).",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`unconfirmed_link`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#400-unconfirmed_link\" target=\"_blank\">400 unconfirmed_link errors</a>.",
            "example": "unconfirmed_link"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `unconfirmed_link` errors, the description is:\n  \n  - `The link creation has not been completed yet`.",
            "example": "The link creation has not been completed yet"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "TokenRequiredResponseTokenGenerationData": {
        "type": "object",
        "description": "Details on how to generate the token.",
        "properties": {
          "instructions": {
            "type": "string",
            "description": "Instructions for token generation.",
            "example": "Use this code to generate the token"
          },
          "type": {
            "type": "string",
            "description": "Type of the data to generate the token (QR code, numeric challenge).",
            "example": "numeric"
          },
          "value": {
            "type": "string",
            "description": "Value to use to generate the token.",
            "example": "12345"
          },
          "expects_user_input": {
            "type": "boolean",
            "description": "Indicates whether the user needs to provide input in order to complete the authentication.\nWhen set to `false`, your user may need to:\n- confirm the login on another device - scan a QR code\nYou will still need to make a PATCH call to complete the request.",
            "example": true,
            "default": true
          }
        }
      },
      "TokenRequiredResponse": {
        "type": "object",
        "description": "MFA Token Required",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`token_required`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#428-token_required\" target=\"_blank\">428 token_required errors</a>.",
            "example": "token_required"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `token_required` errors, the description is:\n  \n  - `A MFA token is required by the institution to login`.",
            "example": "A MFA token is required by the institution to login"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "8c7b283c6efa449c9c028a16b5c249fa"
          },
          "session": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the login session (matching a regex pattern of: `[a-f0-9]{32}`).",
            "example": "2675b703b9d4451f8d4861a3eee54449"
          },
          "expiry": {
            "type": "integer",
            "format": "int32",
            "description": "Session duration time in seconds.",
            "example": 9600
          },
          "link": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier created by Belvo, used to reference the current Link.",
            "example": "30cb4806-6e00-48a4-91c9-ca55968576c8"
          },
          "token_generation_data": {
            "$ref": "#/components/schemas/TokenRequiredResponseTokenGenerationData"
          }
        }
      },
      "UnexpectedError": {
        "type": "object",
        "title": "Unexpected Error",
        "description": "This error occurs when we (Belvo) have encountered an internal system error (sorry about that) or due to an unsupported response from the institution.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`unexpected_error`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#500-unexpected_error\" target=\"_blank\">500 unexpected_error errors</a>.",
            "example": "unexpected_error"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `unexpected_error` errors, the description is:\n  \n  - `Belvo is unable to process the request due to an internal system issue or to an unsupported response from an institution`.",
            "example": "Belvo is unable to process the request due to an internal system issue or to an unsupported response from an institution"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "PatchBodyWithoutSaveData": {
        "type": "object",
        "description": "A JSON object containing a session UUID and a MFA token",
        "required": [
          "session",
          "link"
        ],
        "properties": {
          "session": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "The session you want to resume. You need to use the `session` value that is provided in the 428 Token Required response that you receive after you make your POST request.",
            "example": "6e7b283c6efa449c9c028a16b5c249fa"
          },
          "token": {
            "type": "string",
            "description": "The MFA token generated by the institution and required to continue a session.",
            "example": "1234ab"
          },
          "link": {
            "type": "string",
            "format": "uuid",
            "description": "The `link.id` you want to resume. Must be the same `link.id` as the one you receive in the 428 Token Required response that contains the `session` ID.",
            "example": "683005d6-f45c-4adb-b289-f1a12f50f80c"
          }
        }
      },
      "NotFoundError": {
        "type": "object",
        "title": "Not Found",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`not_found`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#404-not_found\" target=\"_blank\">404 not_found errors</a>.",
            "example": "not_found"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `not_found` errors, the description is:\n  \n  - `Not found`",
            "example": "Not found"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "LinksPutRequest": {
        "type": "object",
        "required": [
          "institution",
          "username",
          "password"
        ],
        "properties": {
          "password": {
            "type": "string",
            "description": "The end-user's password used to log in to the institution.",
            "example": "password"
          },
          "password2": {
            "type": "string",
            "description": "The end-user's second password used to log in to the institution.\n\nℹ️ This is only required by some institutions. To know which institutions require a second password, get the [details](https://developers.belvo.com/reference/detailinstitution) for the institution and check the `form_fields` array in the response.\n",
            "example": "pin"
          },
          "token": {
            "type": "string",
            "description": "The MFA token required by the bank to log in.\n",
            "example": "1234ab"
          },
          "username_type": {
            "type": "string",
            "description": "Type of document to be used as a username.\n\n  Some banking institutions accept different documents to be used as the `username` to login. For example, the *Cédula de Ciudadanía*, *Cédula de Extranjería*, *Pasaporte'*, and so on.\n\n  For banks that require a document to log in, you **must** provide the `username_type` parameter to specify which document is used when creating the link.\n\n  ℹ️ To know which institutions require the `username_type` parameter, get the [details](https://developers.belvo.com/reference/detailinstitution) for the institution and check the `form_fields` array in the response.\n\n  For a list of standards codes, see the table below.\n\n| Code | Description |\n|-----------|-------|\n| `001` | Cédula de Ciudadanía |\n| `002` | Cédula de Extranjería |\n| `003` | Pasaporte |\n| `004` | Tarjeta de Identidad |\n| `005` | Registro Civil |\n| `006` | Número Identificación Personal |\n| `020` | NIT |\n| `021` | NIT Persona Natural |\n| `022` | NIT Persona Extranjera |\n| `023` | NIT Persona Jurídica |\n| `024` | NIT Menores |\n| `025` | NIT Desasociado |\n| `030` | Trj. Seguro Social Extranjero |\n| `031` | Sociedad Extranjera sin NIT en Colombia |\n| `032` | Fideicomiso |\n| `033` | RIF Venezuela |\n| `034` | CIF |\n| `035` | Número de Identidad |\n| `036` | RTN |\n| `037` | Cédula de Identidad |\n| `038` | DIMEX |\n| `039` | CED |\n| `040` | PAS |\n| `041` | Documento Único de Identidad |\n| `042` | NIT Salvadoreño |\n| `100` | Agência e conta |\n| `101` | Código do operador |\n| `102` | Cartão de crédito |\n| `103` | CPF |\n",
            "example": "001"
          },
          "certificate": {
            "type": "string",
            "description": "For certain fiscal institutions, it is possible to log in using a certificate and a private key, which enables a faster connection to the institution.\n\nBelvo supports a base64 encoded `certificate`. If the `certificate` parameter is used, you *must* also provide the `private_key` parameter.\n",
            "example": "1234567890abcd="
          },
          "private_key": {
            "type": "string",
            "description": "For certain fiscal institutions, it is possible to log in using a certificate and a private key, which enables a faster connection to the institution.\n\nBelvo supports a base64 encoded `private_key`. If the `private_key` parameter is used, you *must* also provide the `certificate` parameter.\n",
            "example": "1234567890abcd="
          }
        }
      },
      "InstitutionAccount": {
        "type": "object",
        "description": "Details regarding the institution.",
        "properties": {
          "name": {
            "type": "string",
            "example": "erebor_mx_retail",
            "description": "The name of the institution, as designated by Belvo.\nPlease see our [Institutions](https://developers.belvo.com/docs/institution) DevPortal article for a detailed list of institution names."
          },
          "type": {
            "type": "string",
            "enum": [
              "bank",
              "fiscal",
              "gig"
            ],
            "description": "The type of institution.\n\nCan be either:\n\n  - `bank`\n  - `fiscal`\n  - `gig` *This field has been deprecated.*\n"
          }
        }
      },
      "AccountsBalance": {
        "type": "object",
        "required": [
          "current"
        ],
        "description": "Details regarding the current and available balances for the account.\n",
        "properties": {
          "current": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The current balance is calculated differently according to the type of account.\n\n- **💰 Checking and saving accounts**:\n\nThe user's account balance at the `collected_at` timestamp.\n- **💳 Credit cards**:\n\nThe amount the user has spent in the current card billing period (see `credit_data.cutting_date` for information on when the current billing period finishes).\n- **🏡 Loan accounts**:\n\nThe amount remaining to pay on the users's loan (same as `loan_data.outstanding_balance`).",
            "example": 5874.13
          },
          "available": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The balance that the account owner can use.\n- **💰 Checking and saving accounts**:\n\nThe available balance may be different to the `current` balance due to pending transactions.\n- **💳 Credit cards**:\n\nThe credit amount the user still has available for the current period. The amount is calculated as `credit_data.credit_limit` minus `balance.current`.\n- **🏡 Loan accounts**:\n\nThe present value required to pay off the loan, as provided by the institution.\n\n**Note:** If the institution does not provide this value, we return `null`.",
            "example": 5621.12
          }
        }
      },
      "AccountsCreditData": {
        "type": ["object", "null"],
        "required": [
          "credit_limit",
          "cutting_date",
          "next_payment_date",
          "minimum_payment",
          "no_interest_payment",
          "interest_rate",
          "collected_at"
        ],
        "nullable": true,
        "description": "The credit options associated with this account.",
        "properties": {
          "credit_limit": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": 192000,
            "description": "The maximum amount of credit the owner can receive."
          },
          "collected_at": {
            "type": "string",
            "nullable": true,
            "example": "2019-09-27T13:01:41.941Z",
            "format": "date-time",
            "description": "The ISO-8601 timestamp when the data point was collected."
          },
          "cutting_date": {
            "type": "string",
            "nullable": true,
            "example": "2019-12-11",
            "description": "The closing date of the credit period."
          },
          "next_payment_date": {
            "type": "string",
            "description": "The due date for the next payment.",
            "example": "2019-12-13",
            "nullable": true
          },
          "minimum_payment": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": 2400.3,
            "description": "The minimum amount to be paid on the `next_payment_date`."
          },
          "no_interest_payment": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": 2690.83,
            "description": "The minimum amount required to pay to avoid generating interest."
          },
          "interest_rate": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The annualized interest rate of the credit.",
            "example": 4
          },
          "end_date": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "*This field has been deprecated.*\n",
            "example": null
          },
          "monthly_payment": {
            "type": "number",
            "deprecated": true,
            "nullable": true,
            "description": "*This field has been deprecated.*\n\n*The recurrent monthly payment, if applicable.*\n",
            "example": null
          },
          "last_payment_date": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "*This field has been deprecated.*\n\n\n*The date when the last credit payment was made.*\n",
            "example": null
          }
        }
      },
      "AccountsLoanDataInterestRate": {
        "type": "object",
        "required": [
          "name",
          "type",
          "value"
        ],
        "description": "Breakdown of the interest applied to the loan.",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the type of interest rate applied to the loan.",
            "example": "jurosEfetivo"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "MONTHLY",
              "YEARLY"
            ],
            "description": "The period that the interest is applied to the loan.",
            "example": "MONTHLY"
          },
          "value": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The interest rate (in percent or currency value).",
            "example": 7.85
          }
        }
      },
      "AccountsLoanDataFees": {
        "type": "object",
        "nullable": true,
        "required": [
          "type",
          "value"
        ],
        "description": "Breakdown of the fees applied to the loan.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "OPERATION_FEE",
              "INSURANCE_FEE",
              "OTHERS"
            ],
            "description": "The type of fee.",
            "example": "OPERATION_FEE"
          },
          "value": {
            "type": "number",
            "format": "float",
            "description": "The total value of the fee. Same currency of the Loan.\n",
            "example": 5.6
          }
        }
      },
      "AccountsLoanData": {
        "type": ["object", "null"],
        "nullable": true,
        "required": [
          "principal",
          "monthly_payment",
          "outstanding_balance",
          "interest_rates",
          "collected_at"
        ],
        "description": "The loan options associated with this account.",
        "properties": {
          "collected_at": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO-8601 timestamp when the data point was collected.",
            "example": "2022-02-09T08:45:50.406032Z"
          },
          "contract_amount": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The initial total loan amount, calculated by the institution, when the contract was signed. This amount includes the principal + interest + taxes + fees.",
            "example": 202000
          },
          "principal": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Total amount of the loan (the amount the user receives).",
            "example": 192000
          },
          "loan_type": {
            "type": "string",
            "nullable": true,
            "description": "The type of the loan, according to the institution.",
            "example": "Consignado"
          },
          "payment_day": {
            "type": "string",
            "nullable": true,
            "description": "The day of the month by which the owner needs to pay the loan.",
            "example": "27"
          },
          "outstanding_principal": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Outstanding loan amount, that is, how much remains to pay on the principal (not including interest).\n",
            "example": 142023
          },
          "outstanding_balance": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The amount remaining to pay in total, including interest.",
            "example": 182000
          },
          "monthly_payment": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The recurrent monthly payment, if applicable.",
            "example": 1000
          },
          "interest_rates": {
            "type": "array",
            "nullable": true,
            "description": "Breakdown of the interest applied to the loan.",
            "items": {
              "$ref": "#/components/schemas/AccountsLoanDataInterestRate"
            }
          },
          "fees": {
            "type": "array",
            "nullable": true,
            "description": "Breakdown of the fees applied to the loan.",
            "items": {
              "$ref": "#/components/schemas/AccountsLoanDataFees"
            }
          },
          "number_of_installments_total": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The total number of installments required to pay the loan.",
            "example": 60
          },
          "number_of_installments_outstanding": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The number of installments left to pay.",
            "example": 48
          },
          "contract_start_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "The date when the loan contract was signed.",
            "example": "2020-03-01"
          },
          "contract_end_date": {
            "type": "string",
            "format": "date",
            "description": "The date when the loan is expected to be completed.",
            "example": "2027-10-01"
          },
          "contract_number": {
            "type": "string",
            "nullable": true,
            "description": "The contract number of the loan, as given by the institution.",
            "example": "890ASLDJF87SD00"
          },
          "credit_limit": {
            "type": "number",
            "nullable": true,
            "deprecated": true,
            "description": "This field has been deprecated.\n\nPlease see `principal` instead.\n",
            "example": null
          },
          "last_period_balance": {
            "type": "number",
            "deprecated": true,
            "nullable": true,
            "description": "This field has been deprecated.\n\nPlease see `outstanding_balance` instead.\n",
            "example": null
          },
          "interest_rate": {
            "type": "number",
            "nullable": true,
            "deprecated": true,
            "description": "This field has been deprecated.\n\nPlease see the `interest_rates` object instead.\n",
            "example": null
          },
          "limit_day": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "This field has been deprecated.\n\nPlease see `payment_day` instead.\n",
            "example": null
          },
          "cutting_day": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "This field has been deprecated.\n\nThe closing day of the month for the loan.\n",
            "example": null
          },
          "cutting_date": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "This field has been deprecated.\n\nThe closing date of the loan period.\n",
            "example": null
          },
          "last_payment_date": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "This field has been deprecated.\n\nThe date when the last loan payment was made.\n",
            "example": null
          },
          "no_interest_payment": {
            "type": "number",
            "deprecated": true,
            "nullable": true,
            "description": "This field has been deprecated.\n\nThe minimum amount required to pay to avoid generating interest.\n",
            "example": null
          }
        }
      },
      "AccountsFundsDataPublicIdentifications": {
        "type": "object",
        "required": [
          "name",
          "value"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The type of identification number for the fund.",
            "example": "CNPJ"
          },
          "value": {
            "type": "string",
            "nullable": true,
            "description": "The fund's identification number.",
            "example": "05.954.445/0221-68"
          }
        }
      },
      "AccountsFundsData": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "example": "FIX X",
            "description": "The pension fund name."
          },
          "type": {
            "type": "string",
            "nullable": true,
            "example": "CNPJ",
            "description": "Type of pension fund."
          },
          "public_identifications": {
            "type": "array",
            "nullable": true,
            "description": "The fund's public IDs.",
            "items": {
              "$ref": "#/components/schemas/AccountsFundsDataPublicIdentifications"
            }
          },
          "balance": {
            "type": "string",
            "nullable": true,
            "example": "88427.94",
            "description": "The amount in the fund."
          },
          "percentage": {
            "type": "string",
            "nullable": true,
            "example": "100",
            "description": "How much this fund, as a percentage, contributes to the pension account's total."
          }
        }
      },
      "AccountsGigPaymentData": {
        "type": "object",
        "deprecated": true,
        "description": "*This field has been deprecated.*\n\n*Additional data provided by the institution on the payment methods configured in the user profiles. This data is **only** provided by gig economy institutions.*",
        "nullable": true,
        "properties": {
          "method": {
            "type": "string",
            "nullable": true,
            "deprecated": true,
            "description": "*This field has been deprecated.*\n\n*The payment method type set up by the user (`BANK_ACCOUNT`, `CARD`, or `CASH`).*",
            "example": "BANK_ACCOUNT"
          },
          "issuer": {
            "type": "string",
            "nullable": true,
            "deprecated": true,
            "description": "*This field has been deprecated.*\n\n*The payment `method` issuer set up by the user (bank institution or card issuer).*",
            "example": "AZTECA - BANCO AZTECA SA"
          },
          "number": {
            "type": "string",
            "nullable": true,
            "deprecated": true,
            "description": "*This field has been deprecated.*\n\n*The bank account or card number used for the payment.*",
            "example": "123184016786312246"
          },
          "holder_name": {
            "type": "string",
            "nullable": true,
            "deprecated": true,
            "description": "*This field has been deprecated.*\n\n*The name of the payment `method` holder.*",
            "example": "Elisa Rojas Rivas"
          },
          "collected_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "deprecated": true,
            "description": "*This field has been deprecated.*\n\n*The ISO-8601 timestamp when the data point was collected.*",
            "example": "2019-09-27T13:01:41.941Z"
          }
        }
      },
      "AccountsReceivablesData": {
        "type": "object",
        "required": [
          "current",
          "available",
          "anticipated",
          "collected_at"
        ],
        "nullable": true,
        "description": "Additional details regarding the receivables account, if applicable.",
        "properties": {
          "current": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": 2193.83,
            "description": "The total sum of all receivables (`available` + `anticipated`)"
          },
          "available": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": 800.37,
            "description": "The amount that the owner of the account will receive according to an established date."
          },
          "anticipated": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": 1393.46,
            "description": "The amount that the owner of the account received earlier than contracted."
          },
          "collected_at": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO-8601 timestamp when the data point was collected.",
            "example": "2022-02-09T08:45:50.406032Z"
          }
        }
      },
      "Account": {
        "type": "object",
        "nullable": true,
        "description": "Details regarding the account.\n\n**Note**: For our recurring expenses resource, this account relates to the account that was analyzed to generate the recurring expenses report.\n",
        "required": [
          "name",
          "number",
          "type",
          "category",
          "public_identification_name",
          "public_identification_value",
          "currency",
          "balance",
          "credit_data",
          "loan_data",
          "collected_at",
          "last_accessed_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier created by Belvo used to reference the current account.",
            "example": "0d3ffb69-f83b-456e-ad8e-208d0998d71d"
          },
          "link": {
            "type": "string",
            "nullable": true,
            "description": "The `link.id` the account belongs to.",
            "example": "30cb4806-6e00-48a4-91c9-ca55968576c8"
          },
          "institution": {
            "$ref": "#/components/schemas/InstitutionAccount"
          },
          "collected_at": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO-8601 timestamp when the data point was collected.",
            "example": "2019-09-27T13:01:41.941Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO-8601 timestamp of when the data point was last updated in Belvo's database.",
            "example": "2022-02-09T08:45:50.406032Z"
          },
          "category": {
            "type": "string",
            "nullable": true,
            "enum": [
              "CHECKING_ACCOUNT",
              "CREDIT_CARD",
              "DELIVERY_ACCOUNT",
              "DRIVER_ACCOUNT",
              "INVESTMENT_ACCOUNT",
              "LOAN_ACCOUNT",
              "PENSION_FUND_ACCOUNT",
              "RECEIVABLES_ACCOUNT",
              "SAVINGS_ACCOUNT",
              "UNCATEGORIZED"
            ],
            "description": "The type of account.\nWe return one of the following enum values:\n  - `CHECKING_ACCOUNT`\n  - `CREDIT_CARD`\n  - `DELIVERY_ACCOUNT` *This field has been deprecated.*\n  - `DRIVER_ACCOUNT` *This field has been deprecated.*\n  - `INVESTMENT_ACCOUNT`\n  - `LOAN_ACCOUNT`\n  - `PENSION_FUND_ACCOUNT`\n  - `RECEIVABLES_ACCOUNT`\n  - `SAVINGS_ACCOUNT`\n  - `UNCATEGORIZED`\n",
            "example": "CHECKING_ACCOUNT"
          },
          "balance_type": {
            "type": "string",
            "nullable": true,
            "description": "Indicates whether this account is either an `ASSET` or a `LIABILITY`. You can consider the balance of an `ASSET` as being positive, while the balance of a `LIABILITY` as negative.\n",
            "example": "ASSET"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "The account type, as designated by the institution.",
            "example": "Cuentas de efectivo"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The account name, as given by the institution.",
            "example": "Cuenta Perfiles- M.N. - MXN-666"
          },
          "number": {
            "type": "string",
            "nullable": true,
            "description": "The account number, as designated by the institution.",
            "example": "4057068115181"
          },
          "balance": {
            "$ref": "#/components/schemas/AccountsBalance"
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "description": "The currency of the account. For example:\n- 🇧🇷 BRL (Brazilian Real)\n- 🇨🇴 COP (Colombian Peso)\n- 🇲🇽 MXN (Mexican Peso)\n\n Please note that other currencies other than in the list above may be returned.",
            "example": "MXN"
          },
          "public_identification_name": {
            "type": "string",
            "nullable": true,
            "description": "The public name for the type of identification. For example: `\"CLABE\"`.\n\nℹ️ For 🇧🇷 Brazilian savings and checking accounts, this field will be `AGENCY/ACCOUNT`.\n",
            "example": "CLABE"
          },
          "public_identification_value": {
            "type": "string",
            "nullable": true,
            "description": "The value for the `public_identification_name`.\n\nℹ️ For 🇧🇷 Brazilian savings and checking accounts, this field will be the agency and bank account number, separated by a slash.\nFor example: `0444/45722-0`.\n",
            "example": "150194683119900273"
          },
          "last_accessed_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "nullable": true,
            "description": "The ISO-8601 timestamp of Belvo's most recent successful access to the institution for the given link.",
            "example": "2021-03-09T10:28:40.000Z"
          },
          "credit_data": {
            "$ref": "#/components/schemas/AccountsCreditData"
          },
          "loan_data": {
            "$ref": "#/components/schemas/AccountsLoanData"
          },
          "funds_data": {
            "type": "array",
            "description": "One or more funds that contribute to the the pension account.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AccountsFundsData"
            }
          },
          "gig_payment_data": {
            "$ref": "#/components/schemas/AccountsGigPaymentData"
          },
          "receivables_data": {
            "$ref": "#/components/schemas/AccountsReceivablesData"
          },
          "bank_product_id": {
            "deprecated": true,
            "type": "string",
            "nullable": true,
            "description": "*This field has been deprecated.*\n\n*The institution's product ID for the account type.*\n",
            "example": null
          },
          "internal_identification": {
            "deprecated": true,
            "type": "string",
            "nullable": true,
            "description": "*This field has been deprecated.*\n\n*The institution's internal identification for the account.*\n",
            "example": null
          }
        }
      },
      "AccountsPaginatedResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "description": "The total number of results in your Belvo account.",
            "example": 130
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "The URL to next page of results. Each page consists of up to 100 items. If there are not enough results for an additional page, the value is `null`.\n\nIn our documentation example, we use `{endpoint}` as a placeholder value. In production, this value will be replaced by the actual endpoint you are currently using (for example, `accounts` or `owners`).\n",
            "example": "https://sandbox.belvo.com/api/{endpoint}/?page=2"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "The URL to the previous page of results. If there is no previous page, the value is `null`.",
            "example": null
          },
          "results": {
            "type": "array",
            "description": "An array of Account objects.",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          }
        }
      },
      "StandardRequest": {
        "type": "object",
        "required": [
          "link"
        ],
        "properties": {
          "link": {
            "type": "string",
            "format": "uuid",
            "description": "The `link.id` that you want to get information for.",
            "example": "2ccd5e15-194a-4a19-a45a-e7223c7e6717"
          },
          "token": {
            "type": "string",
            "description": "The OTP token generated by the bank.",
            "example": "1234ab"
          },
          "save_data": {
            "type": "boolean",
            "default": true,
            "description": "Indicates whether or not to persist the data in Belvo. By default, this is set to `true` and we return a 201 Created response.\nWhen set to `false`, the data won't be persisted and we return a 200 OK response."
          }
        }
      },
      "RequestTimeoutError": {
        "type": "object",
        "title": "Request Timeout",
        "description": "Belvo has a limit regarding the time it takes to log in, retrieve account data, and log out. A timeout occurs when there is a very high amount of data and everything could not be obtained within the allotted time.",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique error code (`request_timeout`) that allows you to classify and handle the error programmatically.\n\nℹ️ Check our DevPortal for more information on how to handle <a href=\"https://developers.belvo.com/docs/belvo-api-errors#408-request_timeout\" target=\"_blank\">408 request_timeout errors</a>.",
            "example": "request_timeout"
          },
          "message": {
            "type": "string",
            "description": "A short description of the error. \n\nFor `request_timeout` errors, the description is:\n  \n  - `The request timed out, you can retry asking for less data by changing your query parameters`.",
            "example": "The request timed out, you can retry asking for less data by changing your query parameters"
          },
          "request_id": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "A 32-character unique ID of the request (matching a regex pattern of: `[a-f0-9]{32}`). Provide this ID when contacting the Belvo support team to accelerate investigations.",
            "example": "9e7b283c6efa449c9c028a16b5c249fb"
          }
        }
      },
      "PatchBody": {
        "type": "object",
        "description": "A JSON object containing a session UUID and a MFA token",
        "required": [
          "session",
          "link"
        ],
        "properties": {
          "session": {
            "type": "string",
            "pattern": "[a-f0-9]{32}",
            "description": "The session you want to resume. You need to use the `session` value that is provided in the 428 Token Required response that you receive after you make your POST request.",
            "example": "6e7b283c6efa449c9c028a16b5c249fa"
          },
          "token": {
            "type": "string",
            "description": "The MFA token generated by the institution and required to continue a session.",
            "example": "1234ab"
          },
          "link": {
            "type": "string",
            "format": "uuid",
            "description": "The `link.id` you want to resume. Must be the same `link.id` as the one you receive in the 428 Token Required response that contains the `session` ID.",
            "example": "683005d6-f45c-4adb-b289-f1a12f50f80c"
          },
          "save_data": {
            "type": "boolean",
            "default": true,
            "description": "Indicates whether or not to persist the data in Belvo. By default, this is set to `true` and we return a 201 Created response.\nWhen set to `false`, the data won't be persisted and we return a 200 OK response.",
            "example": true
          }
        }
      },
      "TransactionMerchantData": {
        "type": "object",
        "nullable": true,
        "description": "Additional data regarding the merchant involved in the transaction.\nWe only return merchant information for new transactions made from *checking* or *credit card* accounts.\n> **Get merchant information**\n We can retrieve the merchant information for a transaction as part of our [Transaction categorization](https://developers.belvo.com/docs/banking#transaction-categorization) product, turning raw data into actionable insights. To enable this product, just email our sales team at sales@belvo.com, and they'll get right to it.\n",
        "properties": {
          "logo": {
            "type": "string",
            "nullable": true,
            "description": "The URL to the merchant's logo.",
            "example": "https://logo.clearbit.com/asesor-contable.es"
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "The URL to the merchant's website.",
            "example": "https://merchants-r-us.com"
          },
          "merchant_name": {
            "type": "string",
            "description": "The name of the merchant.",
            "example": "Merchants R Us Global"
          }
        }
      },
      "TransactionBreakdown": {
        "type": "object",
        "deprecated": true,
        "description": "*This field has been deprecated.*\n*List of items representing the breakdown of the total amount in a transactions.*",
        "nullable": true,
        "properties": {
          "amount": {
            "type": "number",
            "format": "float",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*The price of the transaction (trip or delivery order).*",
            "example": 10
          },
          "reference": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "*This field has been deprecated.*\n*Additional information from the gig institution regarding the breakdown.*",
            "example": "base_fare"
          },
          "description": {
            "type": "string",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*The description of the breakdown. In some cases this field may provide information on how the `breakdown.amount` was calculated.*",
            "example": "Trip"
          }
        }
      },
      "TransactionGigData": {
        "type": "object",
        "nullable": true,
        "deprecated": true,
        "description": "*This field has been deprecated.*\n\n\n*Additional data provided by the institution on the transaction. This data is provided only by gig economy institutions.*",
        "properties": {
          "pickup_at": {
            "type": "string",
            "format": "date-time",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*Pickup ISO-8601 timestamp for one trip transaction or delivery.*",
            "nullable": true,
            "example": "2019-11-28T10:27:44.813Z"
          },
          "dropoff_at": {
            "type": "string",
            "format": "date-time",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*Dropoff ISO-8601 timestamp for one trip transaction or delivery.*",
            "nullable": true,
            "example": "2019-11-28T10:27:44.813Z"
          },
          "request_at": {
            "type": "string",
            "format": "date-time",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*ISO-8601 timestamp when one trip transaction or delivery was requested.*",
            "nullable": true,
            "example": "2019-11-28T10:27:44.813Z"
          },
          "pickup_address": {
            "type": "string",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*Pickup address for the trip or delivery.*",
            "nullable": true,
            "example": "Carrer de la Llacuna, 162, 08018 Barcelona"
          },
          "dropoff_address": {
            "type": "string",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*Dropoff address for the trip or delivery.*",
            "nullable": true,
            "example": "Carrer de la Llacuna, 162, 08018 Barcelona"
          },
          "pickup_latitude": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "*This field has been deprecated.*\n\n*Latitude of the `pickup_address`.*\n",
            "example": null
          },
          "pickup_longitude": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "*This field has been deprecated.*\n\n*Longitude of the `pickup_address`.*\n",
            "example": null
          },
          "dropoff_latitude": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "*This field has been deprecated.*\n\n*Latitude of the `dropoff_address`.*\n",
            "example": null
          },
          "dropoff_longitude": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "*This field has been deprecated.*\n\n*Longitude of the `dropoff_address`.*\n",
            "example": null
          },
          "distance": {
            "type": "number",
            "format": "float",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*Distance in kilometers for the trip or delivery.*",
            "nullable": true,
            "example": 12
          },
          "payment_method": {
            "type": "string",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*Payment method for the transaction. For example, `CASH` or `IN_APP`.*",
            "nullable": true,
            "example": "CASH"
          },
          "vehicle_type": {
            "type": "string",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*Vehicle type used.*",
            "nullable": true,
            "example": "CAR"
          },
          "merchant_type": {
            "type": "string",
            "deprecated": true,
            "description": "*This field has been deprecated.*\n*Merchant type for the delivery.*",
            "nullable": true,
            "example": "Restaurant"
          },
          "breakdown": {
            "type": "array",
            "deprecated": true,
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/TransactionBreakdown"
            }
          },
          "collected_at": {
            "type": "string",
            "format": "date-time",
            "deprecated": true,
            "nullable": true,
            "description": "*This field has been deprecated.*\n*The ISO-8601 timestamp when the data point was collected.*",
            "example": "2019-09-27T13:01:41.941Z"
          }
        }
      },
      "TransactionCreditCardData": {
        "type": "object",
        "nullable": true,
        "description": "Additional data provided by the institution for credit card transactions.",
        "properties": {
          "collected_at": {
            "type": "string",
            "nullable": true,
            "example": "2019-09-27T13:01:41.941Z",
            "format": "date-time",
            "description": "The ISO-8601 timestamp when the data point was collected."
          },
          "bill_name": {
            "type": "string",
            "nullable": true,
            "description": "The title of the monthly credit card bill the transaction belongs to. The format of the returned value is institution specific, however, some common examples are:\n\n- diciembre-2021\n- dec-2021\n- dec-21\n",
            "example": "apr-2020"
          },
          "bill_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "PAID",
              "CLOSED",
              "OPEN",
              "FUTURE",
              null
            ],
            "description": "The status of the bill that the transaction appears on. Can be one of:\n\n  - `PAID`: The bill has been paid in full.\n  - `CLOSED`: The bill has been closed by the institution.\n  - `OPEN`: The bill is currently open. (Note: This is the main bill that Belvo retrieves balance data from).\n  - `FUTURE`: The bill is pending.\n  \nℹ️ Note: Some banks consider CLOSED as PAID. ",
            "example": "PAID"
          },
          "bill_amount": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The aggregate bill amount, as of `collected_at`.",
            "example": 300
          },
          "previous_bill_total": {
            "type": "string",
            "nullable": true,
            "description": "The total amount of the previous month's bill, if available.",
            "example": "9614.30"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "required": [
          "value_date",
          "accounting_date",
          "amount",
          "currency",
          "description",
          "reference",
          "observations",
          "balance",
          "status",
          "account",
          "type",
          "collected_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Belvo's unique ID for the transaction.",
            "example": "076c66e5-90f5-4e01-99c7-50e32f65ae42"
          },
          "account": {
            "$ref": "#/components/schemas/Account"
          },
          "collected_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The ISO-8601 timestamp when the data point was collected.",
            "example": "2019-11-28T10:27:44.813Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO-8601 timestamp of when the data point was last updated in Belvo's database.",
            "example": "2022-02-09T08:45:50.406032Z"
          },
          "value_date": {
            "nullable": true,
            "type": "string",
            "format": "date",
            "description": "The date when the transaction occurred, in `YYYY-MM-DD` format.",
            "example": "2019-10-23"
          },
          "accounting_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The ISO timestamp when the transaction was processed and accounted for by the institution.",
            "example": "2019-10-23T13:01:41.941Z"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "The transaction amount.\nℹ️ The amount displayed is always positive as we indicate the direction of the transaction in the `type` parameter.\n",
            "example": 2145.45
          },
          "balance": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "The balance at the end of the transaction.",
            "example": 16907.96
          },
          "currency": {
            "type": "string",
            "description": "The currency of the transaction. For example:\n- 🇧🇷 BRL (Brazilian Real)\n- 🇨🇴 COP (Colombian Peso)\n- 🇲🇽 MXN (Mexican Peso)\n\n Please note that other currencies other than in the list above may be returned.",
            "example": "MXN"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The description of transaction provided by the institution. Usually this is the text that the end user sees in the online platform.",
            "example": "SEVEN BUDDHAS RFC:XXXXXXXXXX"
          },
          "observations": {
            "type": "string",
            "nullable": true,
            "description": "Additional observations provided by the institution on the transaction.",
            "example": "OPTIONAL OBSERVATIONS"
          },
          "merchant": {
            "$ref": "#/components/schemas/TransactionMerchantData"
          },
          "category": {
            "type": "string",
            "nullable": true,
            "enum": [
              "Deposits",
              "Home & Life",
              "Food & Groceries",
              "Online Platforms & Leisure",
              "Transport & Travel",
              "Personal Shopping",
              "Taxes",
              "Withdrawal & ATM",
              "Credits & Loans",
              "Bills & Utilities",
              "Investments & Savings",
              "Fees & Charges",
              "Income & Payments",
              "Transfers",
              null,
              "Unknown"
            ],
            "description": "The name of the category to which this transaction belongs.\n\n> **Get transaction categorization**\nWe can clean and categorize transactions for you as part of our [Transaction categorization](https://developers.belvo.com/docs/banking#transaction-categorization) product, turning raw data into actionable insights. To enable this product, just email our sales team at sales@belvo.com, and they'll get right to it.\n\nWe return one of the following enum values:\n\n  - `Deposits`\n  - `Home & Life`\n  - `Food & Groceries`\n  - `Online Platforms & Leisure`\n  - `Transport & Travel`\n  - `Personal Shopping`\n  - `Taxes`\n  - `Withdrawal & ATM`\n  - `Credits & Loans`\n  - `Bills & Utilities`\n  - `Investments & Savings`\n  - `Fees & Charges`\n  - `Income & Payments`\n  - `Transfers`\n  - `Unknown`*\n\n  *For clients not using our Transaction Categorization product, we return `null` instead.\n",
            "example": "Food & Groceries"
          },
          "reference": {
            "type": "string",
            "nullable": true,
            "maxLength": 128,
            "description": "The reference number of the transaction, provided by the bank.",
            "example": "8703"
          },
          "type": {
            "type": "string",
            "enum": [
              "OUTFLOW",
              "INFLOW",
              null
            ],
            "nullable": true,
            "description": "The direction of the transaction:\n- `INFLOW` indicates money coming into the account.\n- `OUTFLOW` indicates money going out of the account.\n"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "PROCESSED",
              "UNCATEGORIZED",
              null
            ],
            "nullable": true,
            "description": "The status of the transaction.\n\nWe return one of the following enum values:\n\n  - `PENDING`\n  - `PROCESSED`\n  - `UNCATEGORIZED`\n"
          },
          "gig_data": {
            "$ref": "#/components/schemas/TransactionGigData"
          },
          "credit_card_data": {
            "$ref": "#/components/schemas/TransactionCreditCardData"
          }
        }
      },
      "TransactionsPaginatedResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "description": "The total number of results in your Belvo account.",
            "example": 130
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "The URL to next page of results. Each page consists of up to 100 items. If there are not enough results for an additional page, the value is `null`.\n\nIn our documentation example, we use `{endpoint}` as a placeholder value. In production, this value will be replaced by the actual endpoint you are currently using (for example, `accounts` or `owners`).\n",
            "example": "https://sandbox.belvo.com/api/{endpoint}/?page=2"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "The URL to the previous page of results. If there is no previous page, the value is `null`.",
            "example": null
          },
          "results": {
            "type": "array",
            "description": "Array of transaction objects.",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          }
        }
      },
      "TransactionsRequest": {
        "type": "object",
        "required": [
          "link",
          "date_from",
          "date_to"
        ],
        "properties": {
          "link": {
            "type": "string",
            "format": "uuid",
            "description": "The `link.id` that you want to get information for.",
            "example": "2ccd5e15-194a-4a19-a45a-e7223c7e6717"
          },
          "account": {
            "type": "string",
            "format": "uuid",
            "description": "If provided, we return transactions only from this account.",
            "example": "d4617561-1c01-4b2f-83b6-a594f7b3bc57"
          },
          "date_from": {
            "type": "string",
            "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
            "description": "The date from which you want to start getting transactions for, in `YYYY-MM-DD` format.\n\n⚠️ The value of `date_from` cannot be greater than `date_to`.",
            "example": "2020-08-05"
          },
          "date_to": {
            "type": "string",
            "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
            "description": "The date you want to stop getting transactions for, in `YYYY-MM-DD` format.\n\n⚠️ The value of `date_to` cannot be greater than today's date (in other words, no future dates).",
            "example": "2020-10-05"
          },
          "token": {
            "type": "string",
            "description": "The OTP token generated by the bank.",
            "example": "1234ab"
          },
          "save_data": {
            "type": "boolean",
            "default": true,
            "description": "Indicates whether or not to persist the data in Belvo. By default, this is set to `true` and we return a 201 Created response.\nWhen set to `false`, the data won't be persisted and we return a 200 OK response."
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Belvo's unique ID for the balance request.",
            "example": "076c66e5-90f5-4e01-99c7-50e32f65ae42"
          },
          "account": {
            "$ref": "#/components/schemas/Account"
          },
          "value_date": {
            "type": "string",
            "format": "date",
            "description": "The date when the `balance` was available, in `YYYY-MM-DD` format.",
            "example": "2019-10-23"
          },
          "balance": {
            "type": "number",
            "format": "float",
            "description": "The funds available in the account by the end of the `value_date`.",
            "example": 50000
          },
          "current_balance": {
            "deprecated": true,
            "type": "number",
            "nullable": true,
            "description": "*This field has been deprecated. Please use the `balance` field instead.*\n",
            "example": null
          },
          "statement": {
            "deprecated": true,
            "type": "string",
            "nullable": true,
            "description": "*This field has been deprecated.*\n\n*The ID of the banking statement used to extract the `balance`.*\n",
            "example": null
          },
          "collected_at": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "format": "date-time",
            "description": "This field has been deprecated.\n\nThe ISO-8601 timestamp when the data point was collected.\n",
            "example": null
          }
        }
      },
      "BalancesPaginatedResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "description": "The total number of results in your Belvo account.",
            "example": 130
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "The URL to next page of results. Each page consists of up to 100 items. If there are not enough results for an additional page, the value is `null`.\n\nIn our documentation example, we use `{endpoint}` as a placeholder value. In production, this value will be replaced by the actual endpoint you are currently using (for example, `accounts` or `owners`).\n",
            "example": "https://sandbox.belvo.com/api/{endpoint}/?page=2"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "The URL to the previous page of results. If there is no previous page, the value is `null`.",
            "example": null
          },
          "results": {
            "type": "array",
            "description": "Array of balance objects.",
            "items": {
              "$ref": "#/components/schemas/Balance"
            }
          }
        }
      },
      "BalancesRequest": {
        "type": "object",
        "required": [
          "link",
          "date_from",
          "date_to"
        ],
        "properties": {
          "link": {
            "type": "string",
            "format": "uuid",
            "description": "The `link.id` that you want to get information for.",
            "example": "2ccd5e15-194a-4a19-a45a-e7223c7e6717"
          },
          "account": {
            "type": "string",
            "format": "uuid",
            "description": "If provided, only balances matching this `account.id` are returned.",
            "example": "d4617561-1c01-4b2f-83b6-a594f7b3bc57"
          },
          "date_from": {
            "type": "string",
            "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
            "description": "Date from which you want to start receiving balances, in `YYYY-MM-DD` format.\n\n⚠️ The value of `date_from` cannot be greater than `date_to`.",
            "example": "2021-01-18"
          },
          "date_to": {
            "type": "string",
            "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
            "description": "Date that you want to stop receiving balances, in `YYYY-MM-DD` format.\n\n⚠️ The value of `date_to` cannot be greater than today's date (in other words, no future dates).",
            "example": "2021-02-15"
          },
          "token": {
            "type": "string",
            "description": "The OTP token generated by the bank.",
            "example": "1234ab"
          },
          "save_data": {
            "type": "boolean",
            "default": true,
            "description": "Indicates whether or not to persist the data in Belvo. By default, this is set to `true` and we return a 201 Created response.\nWhen set to `false`, the data won't be persisted and we return a 200 OK response."
          }
        }
      },
      "InstitutionsFormFieldValues": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code of the document.",
            "example": "001"
          },
          "label": {
            "type": "string",
            "description": "The label for the field. For example:\n- Cédula de Ciudadanía\n- Cédula de Extranjería\n- Pasaporte\n",
            "example": "Cédula de Ciudadanía"
          },
          "validation": {
            "type": "string",
            "description": "The type of input validation used for the field.",
            "example": "^.{1,}$"
          },
          "validation_message": {
            "type": "string",
            "description": "The message displayed when an invalid input is provided in the form field.",
            "example": "Invalid document number"
          },
          "placeholder": {
            "type": "string",
            "description": "The placeholder text in the form field.",
            "example": "DEF4444908M22"
          }
        }
      },
      "InstitutionsFormField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
[...]
