{
  "openapi": "3.0.2",
  "info": {
    "title": "Belvo API Docs",
    "version": "1.59.0",
    "description": "# Introduction\n\nBelvo is an open banking API for Latin America that allows companies to access banking and fiscal information in a secure as well as agile way.\n\nThrough our API, you can access:\n\n\n- **Bank information** such as account information, real-time\nbalance, historical transactions, and account owner identification.\n\n- **Fiscal information** such as received and sent invoices and tax returns.\n\n\n<img src=\"https://files.readme.io/acf27d3-belvo_pipes.png\"\nalt=\"fiscal-endpoints\">\n\n\nIn this API reference you'll find all the information you need about each\n\nendpoint and resource.\n\n\n<div style=\"background-color:#f4f6f8; border-left: 6px solid\n#4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right:\n25px\">\n\n<strong>Tip: </strong> Make sure that you also check out our Developer\nPortal for guides on <a\nhref=\"https://developers.belvo.com/docs/get-started-in-5-minutes\"\ntarget=\"_blank\">how to get started</a>, using our <a\nhref=\"https://developers.belvo.com/docs/test-in-sandbox\"\ntarget=\"_blank\">Sandbox environment</a>, as well as how to <a\nhref=\"https://developers.belvo.com/docs/connect-widget\"\ntarget=\"_blank\">integrate the widget</a> or use our <a\nhref=\"https://developers.belvo.com/docs/quickstart-application\"\ntarget=\"_blank\">quickstart application</a>.\n\n</div>\n\n\n## Environment\n\nWe currently offer three environments: sandbox, development, and\nproduction.\n\n\nWhen using our SDKs, make sure to use the **Alias** (and not the Base URL).\n\n\n| Environment | Purpose | Access |\n|-----------|-------|-------|\n| **Sandbox** | The [Sandbox environment](https://developers.belvo.com/docs/test-in-sandbox) is dedicated for your testing and development phases. In this environment, you can create links without real credentials and you can pull test data from all endpoints. **⚠️The sandbox environment is refreshed frequently and your test data can be updated or deleted.** | Base URL (cURL): https://sandbox.belvo.com/ <br><br>Alias (SDKs): sandbox|\n|**Development**|The Development environment is dedicated for testing with real credentials and institutions with real-world institutions. You can create up to 25 links for free in this environment.| Base URL (cURL): https://development.belvo.com/ <br><br>Alias (SDKs): development |\n| **Production** | The Production environment is dedicated for live applications with real connections to institutions. In this environment, you\nwill need real credentials to create links and you will pull real data from the institutions.| Base URL (cURL): https://api.belvo.com/ <br><br>Alias\n(SDKs): production|\n\n\nFor each environment, you'll need to [generate separate API\nkeys](https://developers.belvo.com/docs/get-your-belvo-api-keys).\n\n\n## Response codes\n\n\nWe use the following HTTP status code in the response depending on the\nsuccess or failure:\n\n\n| Status Code | Description |\n|-----------|-------|\n| `200` | ✅ **Success** - The content is available in the response body. |\n| `201` | ✅ **Success** - The content was created successfully on Belvo. |\n| `204` | ✅ **Success** - No content to return. |\n| `400` | ❌ **Bad Request Error** - Request returned an error, detail in content.|\n| `401` | ❌ **Unauthorized** - The Belvo credentials provided are not valid.|\n| `404` | ❌ **Not Found** - The resource you try to access cannot be found.|\n| `405` | ❌ **Method Not Allowed** - The HTTP method you are using is not accepted for this resource.|\n| `408` | ❌ **Request Timeout** - The request timed out and was terminated by the server.|\n| `428` | ❌ **MFA Token Required** - MFA token was required by the institution to connect. |\n| `500` | ❌ **Internal Server Error** - The detail of the error is available in the response body.|\n\n\n## Error handling\n\n\n### Error messages\n\n\nBelvo API errors are returned in JSON format. For example, an error might\nlook like this:\n\n\n```json\n\n[\n    {\n      \"request_id\": \"a6e1c493d7a29d91aed4338e6fcf077d\",\n      \"message\": \"This field is required.\",\n      \"code\": \"required\",\n      \"field\": \"link\"\n    }\n]\n\n```\n\n\nTypically, an error response will have the following parameters:\n\n- `request_id`: a unique ID for the request, you should share it with the\nBelvo support team for investigations.\n\n- `message`: human-readable description of the error.\n\n- `code`: a unique code for the error. Check the table below to see how to\nhandle each error code.\n\n- `field` *(optional)*: The specific field in the request body that has an\nissue.\n\n\n\n### Request identifier\n\nWhen you need help with a specific error, add the request identifier\n(`request_id`) in your message to the Belvo support team. This will speed up\ninvestigations and get you back up and running in no time at all.\n\n\n### Error codes and troubleshooting\n\n\nFor a full list of errors and how to troubleshoot them, please see our\ndedicated [Error handling\narticles](https://developers.belvo.com/docs/integration-overview#error-handling)\nin our DevPortal.\n\n\n\n### Retry policy\n\n\nPlease see our recommended [retry\npolicies](https://developers.belvo.com/docs/integration-overview#error-retry-policy)\nin the DevPortal.\n",
    "contact": {
      "name": "Need help?",
      "url": "https://developers.belvo.com",
      "email": "support@belvo.com"
    },
    "x-logo": {
      "url": "https://files.readme.io/5111448-belvo-for-developers.svg",
      "altText": "Belvo logo"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.belvo.com",
      "description": "Sandbox"
    },
    {
      "url": "https://development.belvo.com",
      "description": "Development"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Institutions",
      "description": "An **institution** is an entity that Belvo can access information from. It can be a:\n\n- bank institution, such as Banamex retail banking or HSBC business banking.\n- fiscal institution, such as the Servicio de Administración Tributaria (SAT) in Mexico.\n\n![](https://files.readme.io/69a4676-Banking__Tax.png)\n\nYou can see a complete list of institutions by either consulting our [Institutions article](https://developers.belvo.com/docs/institution) or making a List request to this endpoint."
    },
    {
      "name": "Links",
      "description": "A **Link** is a set of credentials associated to an end-user's access to an **institution**.\n\n<div style=\"background-color:#f4f6f8; border-left: 6px solid #808080;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px\">\n<strong>Example: </strong> The username and password combination used to log in to an online banking application would be a link.\n</div>\n\nYou will need to register a **Link** before accessing information from that specific end-user, such as account or transaction details.\n\n<div style=\"background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px\">\n<strong>Note: </strong> We recommend using our <a href=\"https://developers.belvo.com/docs/connect-widget\" target=\"_blank\">Connect Widget</a> to handle link creation and link status updates.\n</div>\n\nYou have the possibility to register two types of links:\n\n### Recurrent links (default)\n\nWith recurrent links, Belvo automatically refreshes information weekly and notifies you via [Webhooks](https://developers.belvo.com/docs/webhooks) so you always have up-to-date data. Then, when you receive the webhook, you can make GET requests to the List or Detail endpoints to instantly access up-to-date information, without needing to connect to the institution.\n\n<img src=\"https://files.readme.io/7b6c0d4-Recurrent_Link_FLow.png\" alt=\"fiscal-endpoints\" width=\"950\">\n\nYou can also make POST calls directly to the institution, as with single links, as soon as the link is created. However, we recommend you follow the flow described above (waiting for the webhook event) for a more optimal experience.\n\n### Single links\n\nSingle links are used to perform ad hoc data access to accounts, owners, transactions, and so on. For example, you can use it when you want to do an underwriting process to assess risk before lending money.\n\nFor single links, you have to perform POST calls to an institution **every time** you want to access fresh data.\n\n<img src=\"https://files.readme.io/eda7956-Single_Link_Flow.svg\" alt=\"fiscal-endpoints\" width=\"950\">"
    },
    {
      "name": "Banking API introduction",
      "description": "Use our Banking API product to access account, balance, owner, bank statement, as well as transaction data from banking institutions.<br>\n\n\n![](https://files.readme.io/894213c-Banking_and_Gig.png \"Banking and Gig.png\")\n\n\n| API Endpoint                | Description                                                               | Supported institutions |\n| --------------------------- | ------------------------------------------------------------------------- | ---------------------- |\n| `api/accounts/`             | Get information about your customer's bank accounts.                      | Banking        |\n| `api/balances/`             | Get the balance at the end of each day for your customer's bank accounts. | Banking                |\n| `api/owners/`               | Get the details of an account owner.                                      | Banking        |\n| `api/transactions/`         | Get a list of bank transactions with metadata.                            | Banking        |\n| `investments/portfolios/`   | Get information about your customer's investment portfolios.              | Banking                |\n"
    },
    {
      "name": "Accounts",
      "description": "An **account** is the representation of a bank account inside a financial institution. A user can have one or more accounts in an institution. \n\nFor example, one user (or link) can have a checking account, several credit cards, and a loan account.\n\nQuerying for a user's account information is useful as you can get information regarding:\n\n- what types of accounts the user has\n- the balance for each account (savings, checking, credit card, loan, and so on)\n\n\n### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field                         | Available Filters                      |\n| ----------------------------- | -------------------------------------- |\n| `balance__available`          | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `balance__current`            | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `bank_product_id`             | `=`                                    |\n| `category`                    | `=`, `in`                              |\n| `created_at `                 | `gt`, `gte`, `lt`, `lte`, `range`      |\n| `currency`                    | `=`\\*, `in`                            |\n| `id`                          | `=`, `in`                              |\n| `institution`                 | `=`, `in`                              |\n| `internal_identification`     | `=`                                    |\n| `link`                        | `=`, `in`                              |\n| `name`                        | `=`, `icontains`                       |\n| `number`                      | `=`, `in`                              |\n| `public_identification_name`  | `=`                                    |\n| `public_identification_value` | `=`                                    |\n| `type`                        | `=`, `in`                              |\n\n```curl cURL\n## Filtering results to have savings accounts with a balance\n## between 5000 and 8000 Colombian pesos\nhttps://sandbox.belvo.com/api/accounts/?category=savings&balance__available__range=5000,8000&currency=COP\n```\n```javascript Node\n// Filtering results to have savings accounts with a balance\n// between 5000 and 8000 Colombian pesos\nclient.accounts.list({\n  filters: {\n    category: \"savings\",\n    balance__available__range: \"5000,8000\",\n    currency: \"COP\"\n  }\n})\n```\n```python Python\n## Filtering results to have savings accounts with a balance\n## between 5000 and 8000 Colombian pesos\nclient.Accounts.list(category=\"savings\",balance__available__range=\"5000,8000\",currency=\"COP\")\n```\n```ruby Ruby\n## Filtering results to have savings accounts with a balance\n## between 5000 and 8000 Colombian pesos\nclient.accounts.list(params: {\n  category: \"savings\",\n  balance__available__range: \"5000,8000\",\n  currency: \"COP\"\n})\n```"
    },
    {
      "name": "Transactions",
      "description": "A **transaction** contains the detailed information of each movement inside an account. For example, a purchase at a store or a restaurant.\n\n### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field                         | Available Filters                      |\n| ----------------------------- | -------------------------------------- |\n| `account`                     | `=`, `in`                              |\n| `account**balance**available` | `=`, `lt`, `lte`, `range`              |\n| `account**balance**current`   | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `account_type`                | `=`, `in`                              |\n| `accounting_date`             | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `amount`                      | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `credit_card_data__bill_name` | `=`, `in`                              |\n| `created_at `                 | `gt`, `gte`, `lt`, `lte`, `range`      |\n| `currency`                    | `=`, `in`                              |\n| `id`                          | `=`, `in`                              |\n| `institution`                 | `=`, `in`                              |\n| `link`                        | `=`, `in`                              |\n| `reference`                   | `=`, `in`                              |\n| `status`                      | `=`, `in`                              |\n| `type`                        | `=`, `in`                              |\n| `value_date`                  | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n\n```curl cURL\n# Filtering results to have transactions just from one link\nhttps://api.belvo.com/api/transactions/?link=link_id\n\n# Filtering results to have transactions just form one link and between a date range\nhttps://api.belvo.com/api/transactions/?link=link_id&value_date__range=2020-10-01,2020-12-01\n\n```\n```javascript Node\n// Filtering results to have transactions just from one link\n\nclient.transactions.list({\n  filters: {\n    link: \"link_id\"\n  }\n})\n\n// Filtering results to have transactions just form one link and between a date range\nclient.transactions.list({\n  filters: {\n    link: \"link_id\",\n    value_date__range: \"2020-10-01,2020-12-01\"\n  }\n})\n\n```\n```python Python\n# Filtering results to have links just from two institutions\nclient.Transactions.list(link=\"link_id\")\n\n# Filtering results from one institution and a certain status\nclient.Transactions.list(link=\"link_id\", value_date__range=\"2020-10-01,2020-12-01\")\n\n```\n```ruby Ruby\n# Filtering results to have links just from two institutions\nclient.transactions.list(params: {\n  link: \"link_id\"\n})\n\n# Filtering results from one institution and a certain status\nclient.transactions.list(params: {\n  link: \"link_id\",\n  value_date__range: \"2020-10-01,2020-12-01\"\n})\n```"
    },
    {
      "name": "Balances",
      "description": "A **balance** represents the amount of funds available in a checking or savings account over a period of time.\n\n<ul>\n  <li>\n    If your Balance request is not for a checking or savings account, we return\n    an empty array.\n  </li>\n  <li>\n    If we cannot calculate the balance for a given day within your requested\n    period, the <code>balance</code> and <code>current_balance</code> fields\n    will return <code>null</code> for that day.\n  </li>\n</ul>\n\n> 📘 \n> \n> Savings accounts that do not have any associated transactions (for example, some _poupança_ accounts in Brazil) will not contain accurate Balance information. We do not recommend using the Balance endpoint for these types of accounts. \n> \n> Savings accounts vary from institution to institution, so we recommend that you first use our [Retrieve transactions for a link](https://developers.belvo.com/reference/retrievetransactions) request, adding the `account` in the request body, to see if the Savings account has any associated transactions.\n\n\n### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field             | Available Filters                      |\n| ----------------- | -------------------------------------- |\n| `account`         | `=`, `in`                              |\n| `account_type`    | `=`, `in`                              |\n| `balance`         | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `currency`        | `=`, `in`                              |\n| `current_balance` | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `id`              | `=`, `in`                              |\n| `institution`     | `=`, `in`                              |\n| `link`            | `=`, `in`                              |\n| `value_date`      | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n\n```curl cURL\n# Filtering results to have balances greater than 5000\nhttps://api.belvo.com/api/balances/?balance__gt=5000 \n\n# Filtering results to have balances greater than 5000 and in Brazilian Reis\nhttps://api.belvo.com/api/balances/?balance__gt=5000&currency=BRL\n```\n```javascript Node\n//  Filtering results to have balances greater than 5000\nclient.balances.list({\n  filters: {\n    balance__gt: 5000\n  }\n})\n\n//  Filtering results to have balances greater than 5000 and in Brazilian Reis\n\nclient.balances.list({\n  filters: {\n    balance__gt: 5000,\n    currency: \"BRL\"\n  }\n})\n```\n```python Python\n# Filtering results to have balances greater than 5000\nclient.Balances.list(balance__gt=5000)\n\n# Filtering results to have balances greater than 5000 and in Brazilian Reis\nclient.Balances.list(balance__gt=5000, currency=\"BRL\")\n```\n```ruby Ruby\n# Filtering results to have balances greater than 5000\nclient.balances.list(params: {\n  balance__gt: 5000\n})\n\n# Filtering results to have balances greater than 5000 and in Brazilian Reis\nclient.balances.list(params: {\n  balance__gt: 5000,\n  currency: \"BRL\"\n})\n```"
    },
    {
      "name": "Owners",
      "description": "An **owner** represents the person who has access to a Link and is the owner of all the accounts inside the Link.\n\nYou can use this endpoint in order to get useful information about your client, such as:\n\n- their full name\n- key contact information\n- information about the ID document they used when opening the account\n\n### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field         | Available Filters                 |\n| ------------- | --------------------------------- |\n| `created_at ` | `gt`, `gte`, `lt`, `lte`, `range` |\n| `email`       | `=`                               |\n| `id`          | `=`, `in`                         |\n| `link`        | `=`, `in`                         |\n\n```curl cURL\n# Filtering results so that you get the emails of one link:\nhttps://sandbox.belvo.com/api/owners/?email=filtering@belvo.com\n\n```\n```javascript Node\n// Filtering results so that you get the emails of one link:\nclient.owners.list({\n  filters: {\n    email: \"filtering@belvo.com\"\n  }\n})\n\n```\n```python Python\n# Filtering results so that you get the emails of one link:\nclient.Owners.list(email=\"filtering@belvo.com\")\n\n```\n```ruby Ruby\n# Filtering results so that you get the emails of one link:\nclient.owners.list(params: {\n  email: \"filtering@belvo.com\"\n})\n\n})\n```"
    },
    {
      "name": "Investment Portfolios",
      "description": "At the moment we only support the following institutions and investment products:\n\n| Institution                     | Portfolio                         | Instruments                 |\n| ------------------------------- | --------------------------------- | --------------------------- |\n| Banco de Brazil Retail (Brazil) | `FIXED_INCOME`                    | `DEPOSIT`                   |\n| Banco Inter Retail (Brazil)     | `FIXED_INCOME`                    | `DEPOSIT`                   |\n| Bradesco Retail (Brazil)        | `FIXED_INCOME`, `VARIABLE_INCOME` | `DEPOSIT`, `FUND`           |\n| CaixaBank Retail (Brazil)       | `FIXED_INCOME`, `VARIABLE_INCOME` | `DEPOSIT`, `FUND`           |\n| Itau Retail (Brazil)            | `FIXED_INCOME`, `VARIABLE_INCOME` | `DEPOSIT`, `FUND`, `STOCKS` |\n| Santander Retail (Brazil)       | `FIXED_INCOME`, `VARIABLE_INCOME` | `DEPOSIT`, `BOND`, `FUND`   |\n\n\n### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field         | Available Filters                 |\n| ------------- | --------------------------------- |\n| `created_at ` | `gt`, `gte`, `lt`, `lte`, `range` |\n| `link`        | `=`, `in`                         |\n\n```curl cURL\n# Filtering results so that you get the portfolios of one link:\nhttps://sandbox.belvo.com/investments/portfolios/?link=89c91f42-df34-4c5d-a4f1-6e1e40438af4\n\n```\n```javascript Node\n// Filtering results so that you get the portfolios of one link:\nclient. investmentsPortfolios.list({\n  filters: {\n    link: \"89c91f42-df34-4c5d-a4f1-6e1e40438af4\"\n  }\n})\n\n```\n```python Python\n# Filtering results so that you get the portfolios of one link:\nclient. InvestmentsPortfolios.list(link=\"89c91f42-df34-4c5d-a4f1-6e1e40438af4\")\n\n```\n```ruby Ruby\n# Filtering results so that you get the portfolios of one link:\nclient. investments_portfolio.list(params: {\n  link: \"89c91f42-df34-4c5d-a4f1-6e1e40438af4\"\n})\n```"
    },
    {
      "name": "Receivable Transactions",
      "description": "With our receivable transactions resource, you can gain access to every transaction processed by the end user (business) conducted through a POS terminal. For each transaction, we return the:\n\n- gross and net amounts\n- type of card used\n- fees applied to the transaction\n- and more!"
    },
    {
      "name": "Employment Records",
      "description": "# Employment Records\n\nOur employment records resource lets you get a comprehensive view of your user’s current social security contributions and employment history.\n\nWith Belvo's employment records resource, you can access information about your user's current social security contributions and employment history. For the each user, we return the:\n\n- personal data\n- work history\n- historical and current daily base salary\n- and more!\n\nAt the moment, the employment records resource is available for:\n\n- 🇲🇽 Mexico (IMSS)"
    },
    {
      "name": "Enrichment API introduction",
      "description": "Belvo's Enrichment API are a set of endpoints that return additional insights on your user's banking data. \n\n- **Incomes**: Use this endpoint to verify your user's income.\n- **Recurring Expenses**: Use this endpoint to identify the recurrent expenses (such as Netflix subscriptions) that your user pays.\n- **Risk Insights**: Use this endpoint to retrieve key data points to feed into your risk evaluation models."
    },
    {
      "name": "Incomes",
      "description": "Use the Incomes endpoint to gather insights on an account's income sources for the past 365 days. The endpoint is particularly useful when you want to verify a person's income.\n\n<div style=\"background-color:#f4f6f8; border-left: 6px solid #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px\">\n    <strong>Info: </strong> The incomes resource is <b>only</b> available for Checking and Savings\naccounts associated with banking links.\n </div>\n\n\n ### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field        | Available Filters                 |\n| ------------ | --------------------------------- |\n| `account`    | `=`, `in`                         |\n| `created_at` | `gt`, `gte`, `lt`, `lte`, `range` |\n| `id`         | `=`, `in`                         |\n\n```curl cURL\n# Filtering results to have incomes from one link:\nhttps://sandbox.belvo.com/api/incomes/?link=link-id\n\n# Filtering results to have incomes from one link and from two of their accounts:\nhttps://sandbox.belvo.com/api/incomes/?link=link-id&account__in=account-id1,account-id2\n```\n```javascript Node\n// Filtering results to have incomes from one link:\nclient.incomes.list({\n  filters: {\n    link: \"link-id\"\n  }\n})\n\n// Filtering results to have incomes from one link and from two of their accounts:\n\nclient.incomes.list({\n  filters: {\n    link: \"link-id\",\n    account__in: \"account-id1,account-id2\"\n  }\n})\n```\n```python Python\n# Filtering results to have incomes from one link:\nclient.Incomes.list(link=\"link-id\")\n\n# Filtering results to have incomes from one link and from two of their accounts:\nclient.Incomes.list(link=\"link-id\", account__in=\"account-id1,account-id2\")\n```\n```ruby Ruby\n# Filtering results to have incomes from one link:\nclient.incomes.list(params: {\n  link: \"link-id\"\n})\n\n# Filtering results to have incomes from one link and from two of their accounts:\nclient.incomes.list(params: {\n  link: \"link-id\",\n  account__in: \"account-id1,account-id2\"\n})\n```"
    },
    {
      "name": "Recurring Expenses",
      "description": "Belvo's Recurring Expenses API allows you to identify a user's regular payments for subscription services, such as Netflix or gym memberships, as well as utility payments, such as electricity or phone bills. We return information for up to 365 days.\n\n<div style=\"background-color:#f4f6f8; border-left: 6px solid #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px\">\n    <strong>Info: </strong> The recurring expenses resource is <b>only</b> available for Checking, Savings and Credit Card accounts associated with banking links.\n </div>\n\n ### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field     | Available Filters |\n| --------- | ----------------- |\n| `account` | `=`, `in`         |\n| `id`      | `=`, `in`         |\n| `link`    | `=`, `in`         |\n\n```curl cURL\n# Filtering results so that you get the recurring expenses of one account:\nhttps://sandbox.belvo.com/api/recurring-expenses/?account=89c91f42-df34-4c5d-a4f1-6e1e40438af4\n\n```\n```javascript Node\n// Filtering results so that you get the recurring expenses of one account:\nclient. recurringExpenses.list({\n  filters: {\n    account: \"89c91f42-df34-4c5d-a4f1-6e1e40438af4\"\n  }\n})\n\n```\n```python Python\n# Filtering results so that you get the recurring expenses of one account:\nclient. RecurringExpenses.list(account=\"89c91f42-df34-4c5d-a4f1-6e1e40438af4\")\n\n```\n```ruby Ruby\n# Filtering results so that you get the recurring expenses of one account:\nclient. recurring_expenses.list(params: {\n  account: \"89c91f42-df34-4c5d-a4f1-6e1e40438af4\"\n})\n```\n"
    },
    {
      "name": "Risk Insights",
      "description": "Belvo's Risk Insights endpoint exposes a set of features that can be used to improve your company's credit risk and opportunity decisions.\n\nThis set of features can be used as building blocks to create or iterate on your credit score using transactional banking data to improve the predictive power of your models. You can use these components as you require and make the most sense for your specific use case. \n\nWe take up to 365 days of transactional data from the user's checking, savings, loans, and credit card accounts to calculate the risk insights. We perform calculations on this set of transactions and provide aggregate metrics in the following periods: three days, one week, one month, three months, six months, and twelve months.\n\n> **Note**: Categorized transaction metrics period\n> \n> At present, for our categorized transaction metrics (`category_metrics`) we only supply the calculated totals for the last three months. \n\n\nIf you need to know the currency of the account, make a GET Details request to the Accounts endpoint (using the account ID you receive from in the accounts array of the response)."
    },
    {
      "name": "EYOD API introduction",
      "description": "Our Enrich Your Own Data (EYOD) product provides you with enriched transaction information and easy-to-use insights about your users incomesfrom various sources, including open finance data or your own dataset.\n\n\n\n| API Endpoint                 | Description                                                                                                                           |\n| ---------------------------- | ------------------------------------------------------------------------------------------------------------------------------------- |\n| `api/categorization`         | Enrich transactions with category, subcategory, and merchant information.                                                             |\n| `api/enrich/incomes`         | Enrich transaction data from any source and gather insights on your user's income sources and asses their future income potential. |\n| `api/enrich/risk-insights`   | Enrich transaction data from any source and gather a set of features that can be used to improve your company's credit risk and opportunity decisions |\n"
    },
    {
      "name": "Categorization",
      "description": "Our Categorization resource provides you with categorized information for a transaction. You’ll need to send a POST Categorize Transactions request with raw transactional information (such as amount, description, and holder information) to which Belvo:\n- assigns a standardized category to each transaction\n- provides additional information about the merchant involved in the transaction (name, logo, website URL)\n                            "
    },
    {
      "name": "Income Verification",
      "description": "Verify your users' income and forecast their future income potential with Belvo. Your only need to send trough a your raw transaction data and Belvo returns:\n\n- insights into your user’s multiple sources of income\n- a stability score that reflects the consistency and regularity of your user’s income history\n- a confidence level for future income"
    },
    {
      "name": "Fiscal API introduction",
      "description": "Use our **Fiscal API** product to access invoices, tax compliance statuses, tax returns, tax retentions, and tax statuses from the fiscal authority in a given country.\n\n<img src=\"https://files.readme.io/97c76a8-Fiscal_endpoints_horizontal.png\" alt=\"fiscal-endpoints\" width=\"750\">\n\n| API Endpoint                 | Description                                                                                                                           |\n| ---------------------------- | ------------------------------------------------------------------------------------------------------------------------------------- |\n| `api/invoices/`              | Get all the information about the invoices sent and received by a person or a business that have been certified by the tax authority. |\n| `api/tax-compliance-status/` | Get information about whether a person or business is complying to their tax obligations.                                             |\n| `api/tax-compliance-status/` | Get tax declaration information for your users. At the moment only available for 🇨🇴 DIAN Colombia.                                  |\n| `api/tax-returns/`           | Get all the information about the tax returns sent every year to the tax authority by a person or a business.                         |\n| `api/tax-retentions/`        | Get information about tax retention invoices sent and received by a business or a person.                                             |\n| `api/tax-status/`            | Get all the information about the tax situation of a person or a business.                                                            |\n\n<div style=\"background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px\">\n<strong>Note: </strong> You can only access this information with <b>fiscal</b> links.\n</div>"
    },
    {
      "name": "Invoices",
      "description": "An **invoice** is the representation of an electronic invoice, that can be received or sent, by a business or an individual and has been uploaded to the fiscal institution's website. Multiple INFLOW (invoice received) and OUTFLOW (invoice sent) invoices can be retrieved inside each link coming from a fiscal institution.\n\n### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field                    | Available Filters                      |\n| ------------------------ | -------------------------------------- |\n| `created_at `            | `gt`, `gte`, `lt`, `lte`, `range`      |\n| `id`                     | `=`, `in`                              |\n| `invoice_date`           | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `invoice_identification` | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `link`                   | `=`, `in`                              |\n| `status`                 | `=`, `in`                              |\n| `total_amount`           | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `type`                   | `=`, `in`                              |\n\n```curl cURL\n# Filtering results so that you get Tax Returns from one link:\nhttps://sandbox.belvo.com/api/invoices/?link=link-id\n\n# Filtering results so that you get Tax Returns from two links \n# and are of type normal and their status is vigente:\nhttps://sandbox.belvo.com/api/invoices/?link__in=link-id1,link-id2&informacion_general__tipo_declaracion=Normal&status=vigente\n```\n```javascript Node\n//  Filtering results so that you get the Tax Returns from one link:\nclient.invoices.list({\n  filters: {\n    link: \"link-id\"\n  }\n})\n\n//  Filtering results so that you get the Tax Returns from two links\n// and are of type normal and their status is vigente:\nclient.invoices.list({\n  filters: {\n    link__in: \"link-id-1, link-id-2\",\n    informacion_general__tipo_declaracion: \"Normal\",\n    status: \"vigente\"\n  }\n})\n\n```\n```python Python\n# Filtering results so that you get the Tax Return from one link:\nclient.invoices.list(link=\"link-id\")\n\n# Filtering results so that you get the Tax Returns from two links\n# # and are of type normal and their status is vigente:\nclient.invoices.list(link__in=\"link-id1,link-id2\", informacion_general__tipo_declaracion=\"Normal\", status=\"vigente\")\n```\n```ruby Ruby\n# Filtering results so that you get the Tax Return from one link:\nclient.invoices.list(params: {\n  link: \"link-id\"\n})\n\n\n# Filtering results so that you get the Tax Returns from two links\n# and are of type normal and their status is vigente:\nclient.invoices.list(params: {\n  link__in: \"link-id1, link-id1\",\n  informacion_general__tipo_declaracion: \"Normal\",\n  status: \"vigente\"\n})\n```"
    },
    {
      "name": "Tax declarations",
      "description": "Our Tax declarations endpoint lets you retrieve the electronic representation of the tax declaration document emitted by a country's tax authority.\n\nAt the moment, the Tax Declaration resource is available for:\n\n- 🇨🇴 Colombia (DIAN)"
    },
    {
      "name": "Tax returns",
      "description": "A **tax return** is the representation of the tax return document sent every year by a person or a business to the tax authority in the country.\n\nThe tax return data structure will be different depending on if it is related to a person or a business (you will find examples for both in the endpoints below).\n\n### **🔦 Filterable fields**\n\n| Field                                   | Available Filters                      |\n| --------------------------------------- | -------------------------------------- |\n| `created_at `                           | `gt`, `gte`, `lt`, `lte`, `range`      |\n| `id`                                    | `=`, `in`                              |\n| `ejercicio`                             | `=`, `gt`, `gte`, `lt`, `lte`, `range` |\n| `tipo_declaracion`                      | `=`, `in`                              |\n| `link`                                  | `=`, `in`                              |\n\n```curl cURL\n# Filtering results so that you get Tax Returns from one link:\nhttps://api.belvo.com/api/tax-returns/?link=link-id\n\n# Filtering results so that you get Tax Returns from two links and are of type normal:\nhttps://api.belvo.com/api/tax-returns/?link__in=link-id1,link-id2&tipo_declaracion=Normal,\n```\n```javascript Node\n//  Filtering results so that you get the Tax Returns from one link:\nclient.taxReturns.list({\n  filters: {\n    link: \"link-id\"\n  }\n})\n\n//  Filtering results so that you get the Tax Returns from two links and are of type normal:\nclient.taxReturns.list({\n  filters: {\n    link__in: \"link-id-1, link-id-2\",\n    tipo_declaracion: \"Normal\"\n  }\n})\n\n```\n```python Python\n# Filtering results so that you get the Tax Return from one link:\nclient.TaxReturns.list(link=\"link-id\")\n\n# Filtering results so that you get the Tax Returns from two links and are of type normal:\nclient.TaxReturns.list(link__in=\"link-id1,link-id2\", tipo_declaracion: \"Normal\")\n```\n```ruby Ruby\n# Filtering results so that you get the Tax Return from one link:\nclient.tax_returns.list(params: {\n  link: \"link-id\"\n})\n\n\n# Filtering results so that you get the Tax Returns from two links and are of type normal:\nclient.tax_returns.list(params: {\n  link__in: \"link-id1, link-id1\",\n  tipo_declaracion: \"Normal\"\n})\n```"
    },
    {
      "name": "Tax status",
      "description": "Our **Tax status** endpoint lets you retrieve information about a person's or business's tax situation, according to the country's tax authority. \n\n- For SAT (Mexico), this information is extracted from the _Constancia de situación fiscal_ document.\n- For DIAN (Colombia), this information is extracted from the _Registro Único Tributario_ document.\n\n\n\n### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field         | Available Filters                 |\n| ------------- | --------------------------------- |\n| `created_at ` | `gt`, `gte`, `lt`, `lte`, `range` |\n| `id`          | `=`, `in`                         |\n| `link`        | `=`, `in`                         |\n\n```curl cURL\n# Filtering results so that you get institutions from just one link:\nhttps://api.belvo.com/api/institutions/?link=link\n```\n```javascript Node\n//  Filtering results so that you get institutions from just one link:\nclient.taxstatus.list({\n  filters: {\n    link: \"link_id\"\n  }\n})\n\n```\n```python Python\n# Filtering results so that you get institutions from just one link:\nclient.TaxStatus.list(link=\"link\")\n```\n```ruby Ruby\n# Filtering results so that you get institutions from just one link:\nclient.tax_status.list(params: {\n  link: \"link\"\n})\n```"
    },
    {
      "name": "Tax retentions",
      "description": "A **tax retention** is the amount of money that the payer must deduct from the total amount of a purchase invoice, according to the fiscal institution’s regulations.\n\nWith Belvo’s Tax Retentions resource, you can quickly and easily consult information regarding a user’s tax retentions over a given period or for a specific invoice. This is particularly useful when you want to aid your user in their tax returns as for each invoice you receive the:\n\n- invoice amount\n- amount that is exempt from taxation\n- total amount that is taxed\n- breakdown of all the taxes applied to the invoice\n\n\n### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field         | Available Filters                 |\n| ------------- | --------------------------------- |\n| `created_at ` | `gt`, `gte`, `lt`, `lte`, `range` |\n| `link`        | `=`, `in`                         |\n\n```curl cURL\n# Filtering results so that you get Tax Retentions from one link:\nhttps://sandbox.belvo.com/api/tax-retentions/?link=link-id\n\n# Filtering results so that you get Tax Retentions from two links \nhttps://api.belvo.com/api/tax-retentions/?link=link-id1,link-id2\n```\n```javascript Node\n//  Filtering results so that you get the Tax Retentions from one link:\nclient.taxRetentions.list({\n  filters: {\n    link: \"link-id\"\n  }\n})\n\n//  Filtering results so that you get the Tax Retentions from two links:\nclient.taxRetentions.list({\n  filters: {\n    link__in: \"link-id-1, link-id-2\"\n  }\n})\n\n```\n```python Python\n# Filtering results so that you get the Tax Retentions from one link:\nclient.TaxRetentions.list(link=\"link-id\")\n\n# Filtering results so that you get the Tax Retentions from two links:\nclient.TaxRetentions.list(link__in=\"link-id1,link-id2\")\n```\n```ruby Ruby\n# Filtering results so that you get the Tax Retentions from one link:\nclient.tax_retentions.list(params: {\n  link: \"link-id\"\n})\n\n\n# Filtering results so that you get the Tax Retentions from two link:\nclient.tax_retentions.list(params: {\n  link__in: \"link-id1, link-id1\"\n})\n```"
    },
    {
      "name": "Tax compliance status",
      "description": "A **tax compliance status** indicates about whether a person or business is complying with their tax obligations at the moment of the request. The information is extracted from SAT's _Opinion de cumplimiento de Obligaciones Fiscales_ document.\n\n### **🔦 Filterable fields**\n\nPlease see the table below for an alphabetized list of fields that you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.\n\n| Field         | Available Filters                 |\n| ------------- | --------------------------------- |\n| `created_at ` | `gt`, `gte`, `lt`, `lte`, `range` |\n| `id`          | `=`, `in`                         |\n| `link`        | `=`, `in`                         |\n\n```curl cURL\n# Filtering results so that you get Tax Compliance Status from one link:\nhttps://api.belvo.com/api/tax-compliance-status/?link=link-id\n\n# Filtering results so that you get Tax Compliance Status from one link:\nhttps://api.belvo.com/api/tax-compliance-status/?link=link-id1,link-id2\n```\n```javascript Node\n//  Filtering results so that you get the Tax Compliance Status from one link:\nclient.taxComplianceStatus.list({\n  filters: {\n    link: \"link-id\"\n  }\n})\n\n//  Filtering results so that you get the Tax Compliance Status from two links:\nclient.taxComplianceStatus.list({\n  filters: {\n    link__in: \"link-id-1, link-id-2\"\n  }\n})\n\n```\n```python Python\n# Filtering results so that you get the Tax Compliance Status from one link:\nclient.TaxComplianceStatus.list(link=\"link-id\")\n\n# Filtering results so that you get the Tax Compliance Status from two links:\nclient.TaxComplianceStatus.list(link__in=\"link-id1,link-id2\")\n```\n```ruby Ruby\n# Filtering results so that you get the Tax Compliance Status from one link:\nclient.tax_compliance_status.list(params: {\n  link: \"link-id\"\n})\n\n\n# Filtering results so that you get the Tax Compliance Status from two link:\nclient.tax_compliance_status.list(params: {\n  link__in: \"link-id1, link-id1\"\n})\n```"
    }
  ],
  "paths": {
    "/api/links/": {
      "get": {
        "tags": [
          "Links"
        ],
        "operationId": "ListLinks",
        "summary": "List all links",
        "description": "Get a paginated list of all the existing links in your Belvo account. By default, we return up to 100 results per page.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/id__in"
          },
          {
            "$ref": "#/components/parameters/institution"
          },
          {
            "$ref": "#/components/parameters/institution__in"
          },
          {
            "$ref": "#/components/parameters/access_mode"
          },
          {
            "$ref": "#/components/parameters/created_at"
          },
          {
            "$ref": "#/components/parameters/created_at__gt"
          },
          {
            "$ref": "#/components/parameters/created_at__gte"
          },
          {
            "$ref": "#/components/parameters/created_at__lt"
          },
          {
            "$ref": "#/components/parameters/created_at__lte"
          },
          {
            "$ref": "#/components/parameters/created_at__range"
          },
          {
            "$ref": "#/components/parameters/created_by__not_in"
          },
          {
            "$ref": "#/components/parameters/external_id"
          },
          {
            "$ref": "#/components/parameters/external_id__in"
          },
          {
            "$ref": "#/components/parameters/institution_user_id"
          },
          {
            "$ref": "#/components/parameters/institution_user_id__in"
          },
          {
            "$ref": "#/components/parameters/refresh_rate"
          },
          {
            "$ref": "#/components/parameters/status_links"
          },
          {
            "$ref": "#/components/parameters/status__in_links"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseLink"
                }
              }
            }
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Links"
        ],
        "operationId": "RegisterLink",
        "summary": "Register a new link",
        "description": "Register a new link with your Belvo account.\n\n<div style=\"background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px\">\n<strong>Note: </strong> We recommend using our <a href=\"https://developers.belvo.com/docs/connect-widget\" target=\"_blank\">Connect Widget</a> to handle link creation and link status updates.\n</div>\n",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinksRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/TooManySessionsError"
                      },
                      {
                        "$ref": "#/components/schemas/LoginError"
                      },
                      {
                        "$ref": "#/components/schemas/SessionExpiredError"
                      },
                      {
                        "$ref": "#/components/schemas/ValidationError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionDownError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionUnavailableError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionInactiveError"
                      },
                      {
                        "$ref": "#/components/schemas/UnsupportedOperationError"
                      },
                      {
                        "$ref": "#/components/schemas/InvalidLinkError"
                      },
                      {
                        "$ref": "#/components/schemas/UnconfirmedLinkError"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          },
          "428": {
            "description": "MFA Token Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TokenRequiredResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Unexpected Error",
                  "description": "This error occurs when we (Belvo) have encountered an internal system error (sorry about that) or due to an unsupported response from the institution.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/UnexpectedError"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Links"
        ],
        "operationId": "PatchLinks",
        "summary": "Complete a links request",
        "description": "Used to resume a Link register session that was paused because an MFA token was required by the institution.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBodyWithoutSaveData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/TooManySessionsError"
                      },
                      {
                        "$ref": "#/components/schemas/LoginError"
                      },
                      {
                        "$ref": "#/components/schemas/SessionExpiredError"
                      },
                      {
                        "$ref": "#/components/schemas/ValidationError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionDownError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionUnavailableError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionInactiveError"
                      },
                      {
                        "$ref": "#/components/schemas/UnsupportedOperationError"
                      },
                      {
                        "$ref": "#/components/schemas/InvalidLinkError"
                      },
                      {
                        "$ref": "#/components/schemas/UnconfirmedLinkError"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          },
          "428": {
            "description": "MFA Token Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TokenRequiredResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Unexpected Error",
                  "description": "This error occurs when we (Belvo) have encountered an internal system error (sorry about that) or due to an unsupported response from the institution.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/UnexpectedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/links/{id}/": {
      "get": {
        "tags": [
          "Links"
        ],
        "operationId": "DetailLink",
        "summary": "Get a link's details",
        "description": "Get the details of a specific link.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The `link.id` you want to get detailed information about."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "You made a request where you:\n\n  - provided the wrong URL.\n  - used an ID (for a link, account, transaction, and so on) that is not associated with your Belvo account.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/NotFoundError"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Links"
        ],
        "operationId": "ChangeLinkAccessMode",
        "summary": "Change a link's access mode",
        "description": "Change a link's access mode from `single` to `recurrent` or from `recurrent` to single.\nℹ️ **Note**: When you change a link from `single` to `recurrent`, they will only be updated the next day at the scheduled interval.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "e4bb1afb-4a4f-4dd6-8be0-e615d233185b"
            },
            "description": "The `link.id` you want to change the `access_mode` for."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAccessMode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InvalidAccessMode"
                      },
                      {
                        "$ref": "#/components/schemas/TooManySessionsError"
                      },
                      {
                        "$ref": "#/components/schemas/LoginError"
                      },
                      {
                        "$ref": "#/components/schemas/SessionExpiredError"
                      },
                      {
                        "$ref": "#/components/schemas/ValidationError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionDownError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionUnavailableError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionInactiveError"
                      },
                      {
                        "$ref": "#/components/schemas/UnsupportedOperationError"
                      },
                      {
                        "$ref": "#/components/schemas/InvalidLinkError"
                      },
                      {
                        "$ref": "#/components/schemas/UnconfirmedLinkError"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "You made a request where you:\n\n  - provided the wrong URL.\n  - used an ID (for a link, account, transaction, and so on) that is not associated with your Belvo account.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/NotFoundError"
                  }
                }
              }
            }
          },
          "428": {
            "description": "MFA Token Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TokenRequiredResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Unexpected Error",
                  "description": "This error occurs when we (Belvo) have encountered an internal system error (sorry about that) or due to an unsupported response from the institution.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/UnexpectedError"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Links"
        ],
        "operationId": "UpdateLink",
        "summary": "Update a link's credentials",
        "description": "Update the credentials of a specific link. If the successfully updated link is a recurrent one, we automatically trigger an update of the link. If we find fresh data, you'll [receive historical update](https://developers.belvo.com/docs/webhooks) webhooks.\n<div style=\"background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px\"> <strong>Note: </strong> We recommend using our <a href=\"https://developers.belvo.com/docs/connect-widget\" target=\"_blank\">Connect Widget</a> to handle updating <code>invalid</code> or <code>token_required</code> links. </div>\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The `link.id` you want to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinksPutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/TooManySessionsError"
                      },
                      {
                        "$ref": "#/components/schemas/LoginError"
                      },
                      {
                        "$ref": "#/components/schemas/SessionExpiredError"
                      },
                      {
                        "$ref": "#/components/schemas/ValidationError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionDownError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionUnavailableError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionInactiveError"
                      },
                      {
                        "$ref": "#/components/schemas/UnsupportedOperationError"
                      },
                      {
                        "$ref": "#/components/schemas/InvalidLinkError"
                      },
                      {
                        "$ref": "#/components/schemas/UnconfirmedLinkError"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "You made a request where you:\n\n  - provided the wrong URL.\n  - used an ID (for a link, account, transaction, and so on) that is not associated with your Belvo account.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/NotFoundError"
                  }
                }
              }
            }
          },
          "428": {
            "description": "MFA Token Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TokenRequiredResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Unexpected Error",
                  "description": "This error occurs when we (Belvo) have encountered an internal system error (sorry about that) or due to an unsupported response from the institution.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/UnexpectedError"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Links"
        ],
        "operationId": "DestroyLink",
        "summary": "Delete a link",
        "description": "Delete a specific link and all associated accounts, transactions, and owners from your Belvo account.\n# Deleting links in batches\nTo delete links in bulk, we recommend looping through the list of links you want to delete and making the delete request.\n\n  > 🚧 **Rate limiting and IP blocking**\n  > \n  > An important technical note for performing operations in batches is to take into consideration our rate-limiting: up to 80 requests every 30 seconds. If you exceed this limit, you run the risk of Belvo blocking your IP from making further requests.\n  > \n  > For more information, or if your IP address has been blocked, please contact our [support team](https://support.belvo.com/hc/en-us/requests/new).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The `link.id` that you want to delete."
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "You made a request where you:\n\n  - provided the wrong URL.\n  - used an ID (for a link, account, transaction, and so on) that is not associated with your Belvo account.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/NotFoundError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts/": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "ListAccounts",
        "summary": "List all accounts",
        "description": "Get a paginated list of all existing accounts in your Belvo account. By default, we return up to 100 results per page.\n> ℹ️ **Note**: This resource may return deprecated fields. Please check the response documentation for more information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize_query"
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/link"
          },
          {
            "$ref": "#/components/parameters/link__in"
          },
          {
            "$ref": "#/components/parameters/balance__available"
          },
          {
            "$ref": "#/components/parameters/balance__available__lt"
          },
          {
            "$ref": "#/components/parameters/balance__available__lte"
          },
          {
            "$ref": "#/components/parameters/balance__available__gt"
          },
          {
            "$ref": "#/components/parameters/balance__available__gte"
          },
          {
            "$ref": "#/components/parameters/balance__available__range"
          },
          {
            "$ref": "#/components/parameters/balance__current"
          },
          {
            "$ref": "#/components/parameters/balance__current__lt"
          },
          {
            "$ref": "#/components/parameters/balance__current__lte"
          },
          {
            "$ref": "#/components/parameters/balance__current__gt"
          },
          {
            "$ref": "#/components/parameters/balance__current__gte"
          },
          {
            "$ref": "#/components/parameters/balance__current__range"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/category__in"
          },
          {
            "$ref": "#/components/parameters/created_at"
          },
          {
            "$ref": "#/components/parameters/created_at__gt"
          },
          {
            "$ref": "#/components/parameters/created_at__gte"
          },
          {
            "$ref": "#/components/parameters/created_at__lt"
          },
          {
            "$ref": "#/components/parameters/created_at__lte"
          },
          {
            "$ref": "#/components/parameters/created_at__range"
          },
          {
            "$ref": "#/components/parameters/currency"
          },
          {
            "$ref": "#/components/parameters/currency__in"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/id__in"
          },
          {
            "$ref": "#/components/parameters/institution"
          },
          {
            "$ref": "#/components/parameters/institution__in"
          },
          {
            "$ref": "#/components/parameters/name_accounts"
          },
          {
            "$ref": "#/components/parameters/name__icontains"
          },
          {
            "$ref": "#/components/parameters/number_accounts"
          },
          {
            "$ref": "#/components/parameters/number__in_accounts"
          },
          {
            "$ref": "#/components/parameters/public_identification_name"
          },
          {
            "$ref": "#/components/parameters/public_identification_value"
          },
          {
            "$ref": "#/components/parameters/type_accounts"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AccountsPaginatedResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AccountsPaginatedResponseOpenFinanceBrazil"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "RetrieveAccounts",
        "summary": "Retrieve accounts for a link",
        "description": "Retrieve accounts from an existing link.\n> ℹ️ **Note**: This resource may return deprecated fields. Please check the response documentation for more information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok (when `save_data=false`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/Account"
                      },
                      {
                        "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                      }
                    ]
                  }
                },
                "examples": {
                  "AccountsBankingChecking": {
                    "$ref": "#/components/examples/AccountsBankingChecking"
                  },
                  "AccountsBankingCreditCard": {
                    "$ref": "#/components/examples/AccountsBankingCreditCard"
                  },
                  "AcccountsBankingLoan": {
                    "$ref": "#/components/examples/AccountsBankingLoan"
                  },
                  "AccountsBankingPension": {
                    "$ref": "#/components/examples/AccountsBankingPension"
                  },
                  "AccountsBankingSavings": {
                    "$ref": "#/components/examples/AccountsBankingSavings"
                  },
                  "AccountsOfdaChecking": {
                    "$ref": "#/components/examples/AccountsOfdaChecking"
                  },
                  "AccountsOfdaCreditCard": {
                    "$ref": "#/components/examples/AccountsOfdaCreditCard"
                  },
                  "AccountsOfdaLoanData": {
                    "$ref": "#/components/examples/AccountsOfdaLoanData"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created (when `save_data=true`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/Account"
                      },
                      {
                        "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                      }
                    ]
                  }
                },
                "examples": {
                  "AccountsBankingChecking": {
                    "$ref": "#/components/examples/AccountsBankingChecking"
                  },
                  "AccountsBankingCreditCard": {
                    "$ref": "#/components/examples/AccountsBankingCreditCard"
                  },
                  "AcccountsBankingLoan": {
                    "$ref": "#/components/examples/AccountsBankingLoan"
                  },
                  "AccountsBankingPension": {
                    "$ref": "#/components/examples/AccountsBankingPension"
                  },
                  "AccountsBankingSavings": {
                    "$ref": "#/components/examples/AccountsBankingSavings"
                  },
                  "AccountsOfdaChecking": {
                    "$ref": "#/components/examples/AccountsOfdaChecking"
                  },
                  "AccountsOfdaCreditCard": {
                    "$ref": "#/components/examples/AccountsOfdaCreditCard"
                  },
                  "AccountsOfdaLoanData": {
                    "$ref": "#/components/examples/AccountsOfdaLoanData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/TooManySessionsError"
                      },
                      {
                        "$ref": "#/components/schemas/LoginError"
                      },
                      {
                        "$ref": "#/components/schemas/SessionExpiredError"
                      },
                      {
                        "$ref": "#/components/schemas/ValidationError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionDownError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionUnavailableError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionInactiveError"
                      },
                      {
                        "$ref": "#/components/schemas/UnsupportedOperationError"
                      },
                      {
                        "$ref": "#/components/schemas/InvalidLinkError"
                      },
                      {
                        "$ref": "#/components/schemas/UnconfirmedLinkError"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Request Timeout",
                  "description": "Belvo has a limit regarding the time it takes to log in, retrieve account data, and log out. A timeout occurs when there is a very high amount of data and everything could not be obtained within the allotted time.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/RequestTimeoutError"
                  }
                }
              }
            }
          },
          "428": {
            "description": "MFA Token Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TokenRequiredResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Unexpected Error",
                  "description": "This error occurs when we (Belvo) have encountered an internal system error (sorry about that) or due to an unsupported response from the institution.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/UnexpectedError"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "PatchAccounts",
        "summary": "Complete an accounts request",
        "description": "Used to resume an Account retrieve session that was paused because an MFA token was required by the institution.\n> ℹ️ **Note**: This resource may return deprecated fields. Please check the response documentation for more information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok (when `save_data=false`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/Account"
                      },
                      {
                        "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                      }
                    ]
                  }
                },
                "examples": {
                  "AccountsBankingChecking": {
                    "$ref": "#/components/examples/AccountsBankingChecking"
                  },
                  "AccountsBankingCreditCard": {
                    "$ref": "#/components/examples/AccountsBankingCreditCard"
                  },
                  "AcccountsBankingLoan": {
                    "$ref": "#/components/examples/AccountsBankingLoan"
                  },
                  "AccountsBankingPension": {
                    "$ref": "#/components/examples/AccountsBankingPension"
                  },
                  "AccountsBankingSavings": {
                    "$ref": "#/components/examples/AccountsBankingSavings"
                  },
                  "AccountsOfdaChecking": {
                    "$ref": "#/components/examples/AccountsOfdaChecking"
                  },
                  "AccountsOfdaCreditCard": {
                    "$ref": "#/components/examples/AccountsOfdaCreditCard"
                  },
                  "AccountsOfdaLoanData": {
                    "$ref": "#/components/examples/AccountsOfdaLoanData"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created (when `save_data=true`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/Account"
                      },
                      {
                        "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                      }
                    ]
                  }
                },
                "examples": {
                  "AccountsBankingChecking": {
                    "$ref": "#/components/examples/AccountsBankingChecking"
                  },
                  "AccountsBankingCreditCard": {
                    "$ref": "#/components/examples/AccountsBankingCreditCard"
                  },
                  "AcccountsBankingLoan": {
                    "$ref": "#/components/examples/AccountsBankingLoan"
                  },
                  "AccountsBankingPension": {
                    "$ref": "#/components/examples/AccountsBankingPension"
                  },
                  "AccountsBankingSavings": {
                    "$ref": "#/components/examples/AccountsBankingSavings"
                  },
                  "AccountsOfdaChecking": {
                    "$ref": "#/components/examples/AccountsOfdaChecking"
                  },
                  "AccountsOfdaCreditCard": {
                    "$ref": "#/components/examples/AccountsOfdaCreditCard"
                  },
                  "AccountsOfdaLoanData": {
                    "$ref": "#/components/examples/AccountsOfdaLoanData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/TooManySessionsError"
                      },
                      {
                        "$ref": "#/components/schemas/LoginError"
                      },
                      {
                        "$ref": "#/components/schemas/SessionExpiredError"
                      },
                      {
                        "$ref": "#/components/schemas/ValidationError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionDownError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionUnavailableError"
                      },
                      {
                        "$ref": "#/components/schemas/InstitutionInactiveError"
                      },
                      {
                        "$ref": "#/components/schemas/UnsupportedOperationError"
                      },
                      {
                        "$ref": "#/components/schemas/InvalidLinkError"
                      },
                      {
                        "$ref": "#/components/schemas/UnconfirmedLinkError"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Request Timeout",
                  "description": "Belvo has a limit regarding the time it takes to log in, retrieve account data, and log out. A timeout occurs when there is a very high amount of data and everything could not be obtained within the allotted time.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/RequestTimeoutError"
                  }
                }
              }
            }
          },
          "428": {
            "description": "MFA Token Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TokenRequiredResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "Unexpected Error",
                  "description": "This error occurs when we (Belvo) have encountered an internal system error (sorry about that) or due to an unsupported response from the institution.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/UnexpectedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts/{id}/": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "DetailAccount",
        "summary": "Get an account's details",
        "description": "Get the details of a specific account.\n> ℹ️ **Note**: This resource may return deprecated fields. Please check the response documentation for more information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `account.id` you want to get detailed information about.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                    }
                  ]
                },
                "examples": {
                  "AccountsBankingChecking": {
                    "$ref": "#/components/examples/AccountsBankingChecking"
                  },
                  "AccountsBankingCreditCard": {
                    "$ref": "#/components/examples/AccountsBankingCreditCard"
                  },
                  "AcccountsBankingLoan": {
                    "$ref": "#/components/examples/AccountsBankingLoan"
                  },
                  "AccountsBankingPension": {
                    "$ref": "#/components/examples/AccountsBankingPension"
                  },
                  "AccountsBankingSavings": {
                    "$ref": "#/components/examples/AccountsBankingSavings"
                  },
                  "AccountsOfdaChecking": {
                    "$ref": "#/components/examples/AccountsOfdaCheckingDetail"
                  },
                  "AccountsOfdaCreditCard": {
                    "$ref": "#/components/examples/AccountsOfdaCreditCardDetail"
                  },
                  "AccountsOfdaLoanData": {
                    "$ref": "#/components/examples/AccountsOfdaLoanDataDetail"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "You made a request where you:\n\n  - provided the wrong URL.\n  - used an ID (for a link, account, transaction, and so on) that is not associated with your Belvo account.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/NotFoundError"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "DestroyAccount",
        "summary": "Delete an account",
        "description": "Delete a specific account and all associated transactions, as well as owners, from your Belvo account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `account.id` you want to delete",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Authentication to Belvo API failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "This error occurs when you try to make an API call using incorrect Belvo API credentials (either your secret key or secret password, or both, are incorrect).",
                  "items": {
                    "$ref": "#/components/schemas/UnauthorizedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "You made a request where you:\n\n  - provided the wrong URL.\n  - used an ID (for a link, account, transaction, and so on) that is not associated with your Belvo account.\n  ",
                  "items": {
                    "$ref": "#/components/schemas/NotFoundError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions/": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "ListTransactions",
        "summary": "List all transactions",
        "description": "Get a paginated list of all existing transactions in your Belvo account. By default, we return up to 100 results per page.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
[...]
