[build-system]
build-backend = "hatchling.build"
requires = [
  "hatch-vcs",
  "hatchling",
]

[project]
name = "tap-belvo"
description = "Singer tap for Belvo, built with the Meltano SDK for Singer Taps."
readme = "README.md"
keywords = [
  "Belvo",
  "ELT",
  "singer.io",
]
license = "Apache-2.0"
maintainers = [ { name = "Edgar Ramírez-Mondragón", email = "edgarrm358@gmail.com" } ]
authors = [ { name = "Edgar Ramírez-Mondragón", email = "edgarrm358@gmail.com" } ]
requires-python = ">=3.8"
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]
dynamic = [
  "version",
]
dependencies = [
  "importlib-resources; python_version<'3.9'",
  "requests",
  "requests-cache==1.*",
  "singer-sdk~=0.41.0",
]
optional-dependencies.testing = [
  "deptry>=0.12",
  "pytest>=7.4",
  "singer-sdk[testing]",
]
optional-dependencies.typing = [
  "mypy",
  "types-requests",
]
urls.Documentation = "https://github.com/edgarrmondragon/tap-belvo#readme"
urls.Homepage = "https://github.com/edgarrmondragon/tap-belvo"
urls.Source = "https://github.com/edgarrmondragon/tap-belvo"
scripts."tap-belvo" = "tap_belvo.tap:TapBelvo.cli"

[tool.hatch.version]
source = "vcs"

[tool.hatch.envs.sync.scripts]
console = "tap-belvo {args}"
jsonl = "tap-belvo {args} > tap-belvo.jsonl"

[tool.hatch.envs.test]
features = [ "testing" ]
[tool.hatch.envs.test.scripts]
integration = "pytest {args:tests}"
dependencies = "deptry ."

[tool.hatch.envs.typing]
features = [ "testing", "typing" ]
[tool.hatch.envs.typing.scripts]
check = "mypy --strict {args:tap_belvo tests}"

[tool.ruff]
line-length = 88
src = [ "tap_belvo", "tests" ]

lint.select = [ "ALL" ]
lint.ignore = [
  "ANN101", # missing-type-self
  "COM812", # missing-trailing-comma
  "DJ",     # flake8-django
  "FIX002", # line-contains-todo
  "ISC001", # single-line-implicit-string-concatenation
]
lint.per-file-ignores."noxfile.py" = [ "ANN" ]
lint.per-file-ignores."tests/*" = [
  "ANN201", # missing-return-type-public-function
  "S101",   # assert
  "SLF001", # private-member-access
]
lint.unfixable = [
  "ERA001", # commented-out-code
]
lint.isort.known-first-party = [ "tap_belvo" ]
lint.isort.required-imports = [ "from __future__ import annotations" ]
lint.pydocstyle.convention = "google"

[tool.deptry.package_module_name_map]
importlib-resources = "importlib_resources"
mypy = "mypy"
types-requests = "requests"

[tool.deptry.per_rule_ignores]
DEP002 = [
  "deptry",
  "mypy",
  "pytest",
]

[tool.pyproject-fmt]
max_supported_python = "3.13"

[tool.pytest.ini_options]
addopts = "-vvv"

[tool.mypy]
python_version = "3.12"
warn_redundant_casts = true
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [ "backoff.*" ]
