{
  "openapi": "3.0.2",
  "info": {
    "title": "Belvo API Docs",
    "version": "1.223.0",
    "description": "# Introduction\n\nReach new audiences and convert more users by easily and safely connecting to their financial data, understanding their behavior and enabling instant payments with open finance. Through our API, you can access:\n\n## Available Information and Payment Methods\n\nBelvo is an open banking API for Latin America that allows companies to access banking and fiscal information in a secure as well as agile way.\n\nThrough our API, you can access:\n\n- Banking Information in Brazil\n- Employment Information in Brazil\n- Employment Information in Mexico\n- Fiscal Information in Mexico\n- Fiscal Information in Chile\n\nYou can also use our API to make payments in:\n\n- Brazil\n- Mexico\n\n## Data Dictionaries\n\nIf you woud like the response documentation in Excel or CSV form, please download them from our public GitHub Reposiitory: <a href=\"https://github.com/belvo-finance-opensource/documentation\" target=\"_blank\">Belvo Open Finance Data Dictionaries</a>. \n\nOur EXCEL and CSV files are additionally localized into Spanish and Portuguese (Brazil).\n\n\n## Environments\n\nWe currently offer two environments: sandbox and production.\n\n### Sandbox\n\nAvailable for:\n\n- \ud83d\udfe2 Aggregation and Enrichment\n- \u26aa\ufe0f Payment Initiation\n\nUse our Sandbox environment to build your integration. We offer dummy data that mimics that of real-world use cases, which means you can test out all the endpoints, use the widget, and implement webhooks - just as you would with real-world data!\n\nAll you need to get started with the Sandbox environment is to get your API keys. We really recommend that you start creating your integration in this environment.\n\n\n### Production\n\nAvailable for:\n\n- \ud83d\udfe2 Aggregation and Enrichment\n- \ud83d\udfe2 Payment Initiation\n\nAfter you have tested your integration in the Sandbox environment and are ready to go live, you'll need to request access to our Production environment. After you request access, our Sales Team will get in contact with you to schedule a meeting just to ensure your needs are met, and then you'll just need to go through a certification process with one of our engineers to make sure that your integration is running optimally. To prepare for the certification meeting, just follow our Integration checklist.\n\nOnce your integration is certified, all you'll need to do is:\n\n - [ ] Request Production API keys (and change your Sandbox API keys in the code to these new ones).\n - [ ] Change the base URL that you make requests to from `sandbox.belvo.com` to `api.belvo.com`.\n - [ ] If you're using webhooks, make sure to set a Production URL for your webhooks.\n\n\n\n## Response codes\n\n\nWe use the following HTTP status code in the response depending on the\nsuccess or failure:\n\n\n| Status Code | Description |\n|-----------|-------|\n| `200` | \u2705 **Success** - The content is available in the response body. |\n| `201` | \u2705 **Success** - The content was created successfully on Belvo. |\n| `204` | \u2705 **Success** - No content to return. |\n| `400` | \u274c **Bad Request Error** - Request returned an error, detail in the content.|\n| `401` | \u274c **Unauthorized** - The Belvo credentials provided are not valid.|\n| `404` | \u274c **Not Found** - The resource you try to access cannot be found.|\n| `405` | \u274c **Method Not Allowed** - The HTTP method you are using is not accepted for this resource.|\n| `408` | \u274c **Request Timeout** - The request timed out and was terminated by the server.|\n| `428` | \u274c **MFA Token Required** - MFA token was required by the institution to connect. |\n| `500` | \u274c **Internal Server Error** - The detail of the error is available in the response body.|\n\n\n## Error handling\n\nBelvo API errors are returned in JSON format. For example, an error might look like this:\n\n\n```json\n[\n    {\n      \"request_id\": \"a6e1c493d7a29d91aed4338e6fcf077d\",\n      \"message\": \"This field is required.\",\n      \"code\": \"required\",\n      \"field\": \"link\"\n    }\n]\n```\n\n\nTypically, an error response will have the following parameters:\n\n- `request_id`: a unique ID for the request, you should share it with the Belvo support team for investigations.\n- `message`: human-readable description of the error.\n- `code`: a unique code for the error. Check the table below to see how to handle each error code.\n- `field` *(optional)*: The specific field in the request body that has an issue.\n\n\n\n### Request identifier\n\nWhen you need help with a specific error, include the request identifier (`request_id`) in your message to the Belvo support team. This will speed up investigations and get you back up and running in no time at all.\n\n### Error codes and troubleshooting\n\nFor a full list of errors and how to troubleshoot them, please see our dedicated Error Handling article.\n\n### Retry policy\n\n#### 50x errors\n\nImplement an automated exponential backoff of up to five retries. We recommend using a base interval of three seconds with a factor of two. For example, the first retry should be after three seconds, the second retry after six seconds (2 * 3), the third retry after 12 seconds (2 * 6), the fourth retry after 24 seconds (2 * 12), and the fifth retry after 48 seconds (2 * 24).\n\n#### 40x errors\n\nYou should not retry making requests if you receive a 40x response, as this is a client error.\n\nThe only exception is the \u201cToo Many Sessions\u201d error, as it means that your end-user is accessing the account from another browser at the same time. In this case, please implement the same retry policy as with 50x errors.\n\n## Deprecated fields\n\nIn our schema, you may see that a field has been marked as `deprecated`. This means that this field is no longer maintained by the Belvo team. You may still receive data for this field depending on the institution, however, you should **not** rely on this field.\n\n## OpenAPI: required and nullable fields\n\nIn our API specification, you'll see that some response parameters will have a **required** annotation. According to the OpenAPI specification, when a response parameter is marked as **required**, this means that the response key must be returned. However, the value of that response parameter can be `null`.\n\n> \ud83d\udcd8 Info\n> \n> In short, any response parameter marked as required will be returned by our API, but the value can be set to null.",
    "contact": {
      "name": "Need help?",
      "url": "https://developers.belvo.com",
      "email": "support@belvo.com"
    },
    "x-logo": {
      "url": "https://files.readme.io/5111448-belvo-for-developers.svg",
      "altText": "Belvo Logo"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.belvo.com",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Institutions",
      "description": "An **institution** is an entity that Belvo can access information from. It can be a:\n\n- bank institution, such as Nubank Brazil.\n- fiscal institution, such as the *Servicio de Administraci\u00f3n Tributaria (SAT)* in Mexico.\n- employment institutions, such as *Instituto Mexicano del Seguro Social (IMSS)* in Mexico or *Instituto Nacional do Seguro Social (INSS)* in Brazil."
    },
    {
      "name": "Links",
      "description": "A **Link** is a set of credentials associated to an end-user's access to an **institution**. You will need to register a **Link** before accessing information from that specific end-user, such as account or transaction details.\n\nWe recommend using the Belvo Hosted Widget to manage the connection process."
    },
    {
      "name": "Consents",
      "description": "A consent is a permission given by the end user to access their financial data in the Open Finance Network in Brazil."
    },
    {
      "name": "Accounts",
      "description": "An **account** is the representation of a bank account inside a financial institution. A user can have one or more accounts in an institution. \n\nFor example, one user (or link) can have a checking account, several credit cards, and a loan account.\n\nQuerying for a user's account information is useful as you can get information regarding:\n\n- what types of accounts the user has.\n- the balance for each account (savings, checking, credit card, loan, and so on).\n- detailed information regarding their credit card spending.\n- the current situation of any loans they may have."
    },
    {
      "name": "Transactions",
      "description": "A **transaction** contains the detailed information of each movement inside an account. For example, a purchase at a store or a restaurant."
    },
    {
      "name": "Owners",
      "description": "An **owner** represents the person who has access to a Link and is the owner of all the accounts inside the Link.\n\nYou can use this endpoint in order to get useful information about your client, such as:\n\n- their full name\n- key contact information\n- information about the ID document they used when opening the account"
    },
    {
      "name": "Bills",
      "description": "A **bill** refers to the credit card bill a user receives for a given account."
    },
    {
      "name": "Balances",
      "description": "A balance is the amount of money available in a given bank account (checking or savings) at a given time."
    },
    {
      "name": "Employments Brazil",
      "description": "Our employments resource for Brazil lets you get a comprehensive view of your user's current employment history and salary information.\n\nFor each user, we return the:\n\n- work history (including occupations and employer data)\n- historical and current salary information (per employer)\n\nAt the moment, the employments resource is available for:\n\n- \ud83c\udde7\ud83c\uddf7 Brazil (INSS)"
    },
    {
      "name": "Employment Records Mexico",
      "description": "Our employment records\u00a0resource for Mexico lets you get a comprehensive view of your user\u2019s current social security contributions and employment history.\n\nWith Belvo's employment records resource for Mexico, you can access information about your user's current social security contributions and employment history. For the each user, we return the:\n\n- personal data\n- work history\n- historical and current daily base salary\n- and more!\n\nAt the moment, the employment records resource is available for:\n\n- \ud83c\uddf2\ud83c\uddfd\u00a0Mexico (IMSS)\n- \ud83c\uddf2\ud83c\uddfd\u00a0Mexico (ISSSTE)"
    },
    {
      "name": "Current Employments Mexico",
      "description": "The Current Employments resource provides real-time access to the current employment status of individuals in Mexico. This resource offers detailed information about whether an individual is currently employed or unemployed, along with their active employment records.\n\n## Key Features\n\n- **Real-time Employment Status**: Get up-to-date information about an individual's current employment situation\n- **Current vs Historical**: Unlike Employment Records, this resource focuses specifically on current employment status rather than historical employment data\n- **Comprehensive Employment Details**: When employed, receive detailed information including employer details, salary information, and employment duration\n- **Unemployment Status**: Clear indication when an individual is currently unemployed\n\nWhen an individual is **employed**, you will receive:\n- Personal identification data (name, birth date, NSS, CURP)\n- Current employment status\n- Employer information (name, RFC, ID)\n- Employment location (state)\n- Duration of employment (days employed)\n- Salary information (base and monthly salary)\n"
    },
    {
      "name": "Incomes",
      "description": "Use the Incomes endpoint to gather insights on an account's income sources for the past 365 days. The endpoint is particularly useful when you want to verify a person's income.\n\n\n> \ud83d\udcd8 Info\n>\n> The incomes resource is **only** available for Checking and Savings accounts associated with banking links."
    },
    {
      "name": "Recurring Expenses",
      "description": "Belvo's Recurring Expenses API allows you to identify a user's regular payments for subscription services, such as Netflix or gym memberships, as well as utility payments, such as electricity or phone bills. We return information for up to 365 days.\n\n> \ud83d\udcd8 Info\n>\n> The recurring expenses resource is **only** available for Checking, Savings and Credit Card accounts associated with banking links."
    },
    {
      "name": "Payment Institutions (Brazil)",
      "description": "A **payment institution** is an entity that Belvo can access information from. You can see a complete list of institutions available for payments by making a List request to this endpoint.\n"
    },
    {
      "name": "Customers (Brazil)",
      "description": "A **customer** is the payer that's going to push funds into your bank account. You need to create a customer in order to receive inflow payments to your organization's bank account.\n\n{% admonition type=\"info\" name=\"Resource Versioning\" %}\n  This endpoint supports resource-level versioning. By including the header `X-Belvo-API-Resource-Version: Payments-BR.V2`, you can access the latest (V2) request and response formats. If the header is not provided, the default (V1) format will be used. See the API documentation for details on the differences between versions.\n{% /admonition %}\n"
    },
    {
      "name": "Bank Accounts (Brazil)",
      "description": "To receive inflow payments to your organization's bank account, you must register the bank accounts (individual and business) using Belvo's Payments API.\n\n- **Individual** bank accounts must be created for each payer (your customer).\n- **Business** bank accounts need to be created for the beneficiary of the payment (your organization).\n\n{% admonition type=\"info\" name=\"Resource Versioning\" %}\n  This endpoint supports resource-level versioning. By including the header `X-Belvo-API-Resource-Version: Payments-BR.V2`, you can access the latest (V2) request and response formats. If the header is not provided, the default (V1) format will be used. See the API documentation for details on the differences between versions.\n{% /admonition %}"
    },
    {
      "name": "Payment Intents (Brazil)",
      "description": "\nA **payment intent** is a single point of access to create payments using any payment method offered by Belvo.\n\nA payment intent captures all payment information (such as the amount to be charged, the description of the payment, the provider, and so on) and guides your customers through the payment flow.\n"
    },
    {
      "name": "Payment Authorizations (Brazil)",
      "description": "A Payment Authorization is the consent that your user gives you to charge (debit money from) their accounts. You need to perform one Payment Authorization per \u2018contract\u2019 (for example, if your company does both electricity and water but they are billed separately, then you will create two separate Payment Authorizations).\n\nOnce the user confirms the authorization, you will need to listen for a a `PAYMENT_AUTHORIZATION` webhook with the status set to `AUTHORIZED`. Once you receive this webhook, the authorization process is complete, and you will be able to charge your user.\n\n{% admonition type=\"info\" name=\"What is a charge?\" %}\nA **charge** represents the individual payment (debit) that your customer will make.\n{% /admonition %}\n\n{% admonition type=\"danger\" name=\"Version Header\" %}\n  The Payment Authorization resource requires that you send through the `X-Belvo-API-Resource-Version` header set to `Payments-BR.V2`.\n{% /admonition %}"
    },
    {
      "name": "Biometric Pix Widget Access Token (Brazil)",
      "description": "Use the Biometric Pix Widget Token requests to create a access token for Biometric Payments.\n"
    },
    {
      "name": "Payment Transactions (Brazil)",
      "description": "Each time you receive an inflow payment from your customer, a **transaction** is created in the Belvo database.\n\nYou can use the Payment Transactions resource in order to get useful information about a transaction as well as the specific charge associated with it.\n"
    }
  ],
  "paths": {
    "/api/institutions/": {
      "get": {
        "tags": [
          "Institutions"
        ],
        "operationId": "ListInstitutions",
        "summary": "List institutions",
        "description": "## \u25b6\ufe0f Usage\n\nWith the List Institutions method, you can:\n\n1. List all institutions Belvo has available.\n\n## \ud83d\udcd6 Pagination\n\nThis method returns a paginated response (default: 100 items per page). You can use the `page_size` query parameter to increase the number of items returned to a maximum of 1000 items. You can use the `page` query parameter to navigate through the results. For more details on how to navigate Belvo's paginated responses, see our <a href=\"https://developers.belvo.com/docs/belvo-pagination-tips\" target=\"_blank\">Pagination Tips</a> article.\n\n## \ud83d\udd26 Filtering Responses\n\nPlease see the query list below for a list of fields that you can filter your responses by. For more information on how to use filters, see our <a href=\"https://developers.belvo.com/docs/searching-and-filtering\" target=\"_blank\">Filtering responses</a> article.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/display_name"
          },
          {
            "$ref": "#/components/parameters/country_code"
          },
          {
            "$ref": "#/components/parameters/country_code__in"
          },
          {
            "$ref": "#/components/parameters/resources__allin"
          },
          {
            "$ref": "#/components/parameters/name"
          },
          {
            "$ref": "#/components/parameters/name__in"
          },
          {
            "$ref": "#/components/parameters/status_institutions"
          },
          {
            "$ref": "#/components/parameters/status__in_institutions"
          },
          {
            "$ref": "#/components/parameters/type_institutions"
          },
          {
            "$ref": "#/components/parameters/type__in_institutions"
          },
          {
            "$ref": "#/components/parameters/website"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/common_pagination_properties"
                    },
                    {
                      "properties": {
                        "results": {
                          "type": "array",
                          "description": "Array of institution objects.",
                          "items": {
                            "$ref": "#/components/schemas/InstitutionPublicApi"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/institutions/{id}/": {
      "get": {
        "tags": [
          "Institutions"
        ],
        "operationId": "DetailInstitution",
        "summary": "Get an institution's details",
        "description": "Get the details of a specific institution.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The `institution.id` you want to get detailed information about.",
            "schema": {
              "type": "string",
              "pattern": "[0-9]+"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionPublicApi"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/links/": {
      "get": {
        "tags": [
          "Links"
        ],
        "operationId": "ListLinks",
        "summary": "List links",
        "description": "## \u25b6\ufe0f Usage\n\nWith the List Links method, you can:\n\n1. List all links elated to your Belvo account (without using any query parameters).\n2. Get the details of a specific `link.id` (using the `id` query parameter).\n\n## \ud83d\udcd6 Pagination\n\nThis method returns a paginated response (default: 100 items per page). You can use the `page_size` query parameter to increase the number of items returned to a maximum of 1000 items. You can use the `page` query parameter to navigate through the results. For more details on how to navigate Belvo's paginated responses, see our <a href=\"https://developers.belvo.com/docs/belvo-pagination-tips\" target=\"_blank\">Pagination Tips</a> article.\n\n## \ud83d\udd26 Filtering Responses\n\nPlease see the query list below for a list of fields that you can filter your responses by. For more information on how to use filters, see our <a href=\"https://developers.belvo.com/docs/searching-and-filtering\" target=\"_blank\">Filtering responses</a> article.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/id__in"
          },
          {
            "$ref": "#/components/parameters/institution"
          },
          {
            "$ref": "#/components/parameters/institution__in"
          },
          {
            "$ref": "#/components/parameters/access_mode"
          },
          {
            "$ref": "#/components/parameters/created_at"
          },
          {
            "$ref": "#/components/parameters/created_at__gt"
          },
          {
            "$ref": "#/components/parameters/created_at__gte"
          },
          {
            "$ref": "#/components/parameters/created_at__lt"
          },
          {
            "$ref": "#/components/parameters/created_at__lte"
          },
          {
            "$ref": "#/components/parameters/created_at__range"
          },
          {
            "$ref": "#/components/parameters/created_by__not_in"
          },
          {
            "$ref": "#/components/parameters/external_id"
          },
          {
            "$ref": "#/components/parameters/external_id__in"
          },
          {
            "$ref": "#/components/parameters/institution_user_id"
          },
          {
            "$ref": "#/components/parameters/institution_user_id__in"
          },
          {
            "$ref": "#/components/parameters/refresh_rate"
          },
          {
            "$ref": "#/components/parameters/status_links"
          },
          {
            "$ref": "#/components/parameters/status__in_links"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/common_pagination_properties"
                    },
                    {
                      "properties": {
                        "results": {
                          "type": "array",
                          "description": "Array of link objects.",
                          "items": {
                            "$ref": "#/components/schemas/Link"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "post": {
        "tags": [
          "Links"
        ],
        "operationId": "RegisterLink",
        "summary": "Register a new link",
        "description": "## \u25b6\ufe0f Usage\n\nRegister a new link (a connection between your user and their institution) using the Belvo API.\n\n> \ud83d\udc4d We really recommend using our <a href=\"https://developers.belvo.com/docs/connect-widget\" target=\"_blank\">Connect Widget</a> to handle link creation and link status updates.\n\nTo make things easier, we've included custom examples for the links you can create for each of our products. Just click on the type of link you want to create in the **Body Params** section below.\n",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/LinksRequestEmploymentBrazil"
                  },
                  {
                    "$ref": "#/components/schemas/LinksRequestEmploymentMexico"
                  },
                  {
                    "$ref": "#/components/schemas/LinksRequestFiscalMexico"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Links"
        ],
        "operationId": "PatchLinks",
        "summary": "Complete a links request",
        "description": "Used to resume a Link register session that was paused because an MFA token\nwas required by the institution.\n",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/links/{id}/": {
      "get": {
        "tags": [
          "Links"
        ],
        "operationId": "DetailLink",
        "summary": "Get a link's details",
        "description": "Get the details of a specific link.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The `link.id` you want to get detailed information about."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Links"
        ],
        "operationId": "ModifyLinkDataRetrieval",
        "summary": "Modify a link's data retrieval",
        "description": "Modify the data retrieval settings for a specific link. At present you can:\n\n  - Change a link's access mode from `single` to `recurrent` or from `recurrent` to `single`.\n  - Modify they `stale_in` period for the link.\n  - Modify the historical resources you want to retrieve for the link (`fetch_resources`).\n\n## Changing a link's `access_mode`\n  \nWhen you change a link from `single` to `recurrent`, the next day a historical update of the core resources for the link is triggered (resulting in you receiving `historical_update` webhooks for the link). You are billed for these historical updates.\n\n## Modifying `stale_in`\n\nIf you only modify the `stale_in` period for a link, this will not trigger a historical update. In order to trigger a historical update for the link, you must change the `access_mode`.\n\n## Modifying `fetch_resources`\n  \nIf you only modify the `fetch_resources` for a link, this will not trigger a historical update. In order to trigger a historical update for the link, you must change the `access_mode`.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "e4bb1afb-4a4f-4dd6-8be0-e615d233185b"
            },
            "description": "The `link.id` you want to change the `access_mode`, `stale_in`, or `fetch_resources` for."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAccessMode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "put": {
        "tags": [
          "Links"
        ],
        "operationId": "UpdateLink",
        "summary": "Update a link's credentials",
        "description": "Update the credentials of a specific link. If the successfully updated link is a recurrent one, we automatically trigger an update of the link. If we find fresh data, you'll <a href=\"https://developers.belvo.com/docs/webhooks\" target=\"_blank\">receive historical update</a> webhooks.\n\n> \ud83d\udc4d Use our Connect Widget\n>\n>  We recommend using our <a href=\"https://developers.belvo.com/docs/connect-widget\" target=\"_blank\">Connect Widget</a> to handle updating <code>invalid</code> or <code>token_required</code> links.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The `link.id` you want to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinksPutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "delete": {
        "tags": [
          "Links"
        ],
        "operationId": "DestroyLink",
        "summary": "Delete a link",
        "description": "Delete a specific link and all the associated data (for example: transactions, accounts, invoices, tax returns, employments, and so on) for that link from your Belvo account. This action is irreversible, and you will not be able to recover the deleted data.\n\n{% admonition type=\"success\" name=\"Use the X-Belvo-Request-Mode: async header\" %}\n  We highly recommend setting the `X-Belvo-Request-Mode` header to `async` to enable asynchronous deletion. This way, you will avoid the rate limit of 5 deletions per minute. When set, the endpoint will respond with a `202 Accepted` status and provide a request ID for tracking the deletion process. Once the process is complete, you will receive a `link_deleted` webhook notification.\n  \n  If you do not set this header, the endpoint will respond with a `204 No Content` status, but you will be subject to the rate limit of 5 deletions per minute. If you exceed this limit, you will receive a `429 Too Many Requests` error.\n{% /admonition %}\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The `link.id` that you want to delete."
          },
          {
            "name": "X-Belvo-Request-Mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "async"
              ]
            },
            "description": "Set to `async` to enable asynchronous deletion, which bypasses rate limiting. When set, the endpoint returns a `202 Accepted` response with a request ID. You will later receive a webhook notification when the deletion is complete.\n"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The unique identifier for tracking the async deletion request."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                }
              }
            }
          },
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/links/{id}/refresh/": {
      "post": {
        "tags": [
          "Links"
        ],
        "operationId": "RefreshHistoricalDataForLink",
        "summary": "Trigger a historical update for a link",
        "description": "{% admonition type=\"warning\" name=\"Concurrent Request Limit\" %}\n  To prevent duplicate requests, this endpoint has a 10-minute cooldown period per link. If you attempt to refresh the same link within 10 minutes of a previous request, you will receive a `409 Conflict` error with the message `\"The link has already been refreshed. Please wait X minutes before trying again.\"`.\n{% /admonition %}\n\nUse this method to trigger a historical update for a specific link (single or recurrent). Use the `fetch_resources` parameter to specify which resources you want to update. If you do not specify this parameter, the historical update will be performed for all resources supported by the institution that the link is associated with.\n\nOn a successful request, our API will respond with a `202` status code and a `request_id` that you can later use to associate a given `historical_update` webhook to this request.\n\n{% admonition type=\"info\" name=\"Does not update link definition\" %}\n  This endpoint does not update the link definition itself, only the historical data for the specified resources. If you want to change the link's `fetch_resources` permanently, you should use the **Modify a link's data retrieval** method instead.\n{% /admonition %}\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "e4bb1afb-4a4f-4dd6-8be0-e615d233185b"
            },
            "description": "The `link.id` you want to refresh."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fetch_resources": {
                    "type": "array",
                    "description": "An array of resources that you would like to receive a historical update for. If you do not specify this field, the historical update will be performed for all resources supported by the institution.\n\n{% admonition type=\"warning\" name=\"Unsupported Resources for a Link\" %}\n  If you specify a resource that is not supported by the institution, we return a `400 Bad Request` error, specifying which resources are supported for the given link.\n{% /admonition %}\n",
                    "items": {
                      "type": "string",
                      "description": "A Belvo resource that the institution supports.",
                      "example": "ACCOUNTS"
                    },
                    "example": [
                      "ACCOUNTS",
                      "TRANSACTIONS",
                      "OWNERS"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Historical Refresh Request Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "description": "The unique ID for this request. We recommend you store this value to later identify which webhook event relates to an asynchronous request.",
                      "example": "b5d0106ac9cc43d5b36199fe831f6bbe"
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "409": {
            "$ref": "#/components/responses/409_link_already_refreshed"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/consents/": {
      "get": {
        "tags": [
          "Consents"
        ],
        "operationId": "ListConsents",
        "summary": "List consents",
        "description": "## \u25b6\ufe0f Usage\n\nWith the Consents method, you can:\n\n1. List all consents related to your Belvo account (without using any query parameters).\n\n## \ud83d\udcd6 Pagination\n\nThis method returns a paginated response (default: 100 items per page). You can use the `page_size` query parameter to increase the number of items returned to a maximum of 1000 items. You can use the `page` query parameter to navigate through the results. For more details on how to navigate Belvo's paginated responses, see our <a href=\"https://developers.belvo.com/docs/belvo-pagination-tips\" target=\"_blank\">Pagination Tips</a> article.\n\n## \ud83d\udd26 Filtering Responses\n\nPlease see the query list below for a list of fields that you can filter your responses by. For more information on how to use filters, see our <a href=\"https://developers.belvo.com/docs/searching-and-filtering\" target=\"_blank\">Filtering responses</a> article.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageSize_query"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/document_number"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/common_pagination_properties"
                    },
                    {
                      "properties": {
                        "results": {
                          "type": "array",
                          "description": "Array of consent objects.",
                          "items": {
                            "$ref": "#/components/schemas/Consents"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/consents/{id}/": {
      "get": {
        "tags": [
          "Consents"
        ],
        "operationId": "DetailConsent",
        "summary": "Get a consent's details",
        "description": "Get the details of a specific consent.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The `consent.id` you want to get detailed information about."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consents"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/token/": {
      "post": {
        "tags": [
          "Widget Access Token"
        ],
        "summary": "Generate a widget access token",
        "operationId": "GenerateWidgetAccessToken",
        "description": "Generate a widget access token for our Hosted Widget.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WidgetTokenRequestBankingBrazil"
                  },
                  {
                    "$ref": "#/components/schemas/WidgetTokenRequestEmploymentBrazil"
                  },
                  {
                    "$ref": "#/components/schemas/WidgetTokenRequestEmploymentMexico"
                  },
                  {
                    "$ref": "#/components/schemas/WidgetTokenRequestFiscalMexico"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/accounts/": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "ListAccounts",
        "summary": "List accounts",
        "description": "## \u25b6\ufe0f Usage\n\nWith the List Accounts method, you can:\n  \n  1. List accounts related to a specific `link.id` (using the `link` query parameter).\n  2. Get the details of a specific `account.id` (using the `id` query parameter).\n  3. **[Not Recommended]** List all accounts related to your Belvo account (without using any query parameters).\n\n## \ud83d\udd26 Filtering Responses\n\nPlease see the query list below for a list of fields that you can filter your responses by. For more information on how to use filters, see our <a href=\"https://developers.belvo.com/docs/searching-and-filtering\" target=\"_blank\">Filtering responses</a> article.\n\n## \ud83d\udcd6 Pagination\n\nThis method returns a paginated response (default: 100 items per page). You can use the `page_size` query parameter to increase the number of items returned to a maximum of 1000 items. You can use the `page` query parameter to navigate through the results. For more details on how to navigate Belvo's paginated responses, see our <a href=\"https://developers.belvo.com/docs/belvo-pagination-tips\" target=\"_blank\">Pagination Tips</a> article.\n    \n## \ud83d\udea8 Deprecated Fields\n\nThis resource may return deprecated fields. In the response documentation you may see that a field has been marked as **deprecated**. This means that this field is no longer maintained by the Belvo team. You may still receive data for this field depending on the institution, however, you should not rely on this field.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/link"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/link__in"
          },
          {
            "$ref": "#/components/parameters/balance__available"
          },
          {
            "$ref": "#/components/parameters/balance__available__lt"
          },
          {
            "$ref": "#/components/parameters/balance__available__lte"
          },
          {
            "$ref": "#/components/parameters/balance__available__gt"
          },
          {
            "$ref": "#/components/parameters/balance__available__gte"
          },
          {
            "$ref": "#/components/parameters/balance__available__range"
          },
          {
            "$ref": "#/components/parameters/balance__current"
          },
          {
            "$ref": "#/components/parameters/balance__current__lt"
          },
          {
            "$ref": "#/components/parameters/balance__current__lte"
          },
          {
            "$ref": "#/components/parameters/balance__current__gt"
          },
          {
            "$ref": "#/components/parameters/balance__current__gte"
          },
          {
            "$ref": "#/components/parameters/balance__current__range"
          },
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/category__in"
          },
          {
            "$ref": "#/components/parameters/created_at"
          },
          {
            "$ref": "#/components/parameters/created_at__gt"
          },
          {
            "$ref": "#/components/parameters/created_at__gte"
          },
          {
            "$ref": "#/components/parameters/created_at__lt"
          },
          {
            "$ref": "#/components/parameters/created_at__lte"
          },
          {
            "$ref": "#/components/parameters/created_at__range"
          },
          {
            "$ref": "#/components/parameters/currency"
          },
          {
            "$ref": "#/components/parameters/currency__in"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/id__in"
          },
          {
            "$ref": "#/components/parameters/institution"
          },
          {
            "$ref": "#/components/parameters/institution__in"
          },
          {
            "$ref": "#/components/parameters/name_accounts"
          },
          {
            "$ref": "#/components/parameters/name__icontains"
          },
          {
            "$ref": "#/components/parameters/number_accounts"
          },
          {
            "$ref": "#/components/parameters/number__in_accounts"
          },
          {
            "$ref": "#/components/parameters/public_identification_name"
          },
          {
            "$ref": "#/components/parameters/public_identification_value"
          },
          {
            "$ref": "#/components/parameters/type_accounts"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Accounts (OFDA Brazil)",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/common_pagination_properties"
                    },
                    {
                      "properties": {
                        "results": {
                          "type": "array",
                          "description": "An array of account objects.",
                          "items": {
                            "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "RetrieveAccounts",
        "summary": "Retrieve accounts for a link",
        "description": "Retrieve accounts from an existing link.\n\n{% admonition type=\"info\" %}\n  This resource may return deprecated fields. Please check the response documentation for more information.\n{% /admonition %}\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "link"
                ],
                "properties": {
                  "link": {
                    "$ref": "#/components/schemas/link_request"
                  },
                  "token": {
                    "$ref": "#/components/schemas/token"
                  },
                  "save_data": {
                    "$ref": "#/components/schemas/save_data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok (when `save_data=false`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                  }
                },
                "examples": {
                  "AccountsOfdaChecking": {
                    "$ref": "#/components/examples/AccountsOfdaChecking"
                  },
                  "AccountsOfdaCreditCard": {
                    "$ref": "#/components/examples/AccountsOfdaCreditCard"
                  },
                  "AccountsOfdaLoanData": {
                    "$ref": "#/components/examples/AccountsOfdaLoanData"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created (when `save_data=true`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                  }
                },
                "examples": {
                  "AccountsOfdaChecking": {
                    "$ref": "#/components/examples/AccountsOfdaChecking"
                  },
                  "AccountsOfdaCreditCard": {
                    "$ref": "#/components/examples/AccountsOfdaCreditCard"
                  },
                  "AccountsOfdaLoanData": {
                    "$ref": "#/components/examples/AccountsOfdaLoanData"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "PatchAccounts",
        "summary": "Complete an accounts request",
        "description": "Used to resume an Account retrieve session that was paused because an MFA\ntoken was required by the institution.\n\n{% admonition type=\"info\" %}\n  This resource may return deprecated fields. Please check the response documentation for more information.\n{% /admonition %}\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok (when `save_data=false`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                  }
                },
                "examples": {
                  "AccountsOfdaChecking": {
                    "$ref": "#/components/examples/AccountsOfdaChecking"
                  },
                  "AccountsOfdaCreditCard": {
                    "$ref": "#/components/examples/AccountsOfdaCreditCard"
                  },
                  "AccountsOfdaLoanData": {
                    "$ref": "#/components/examples/AccountsOfdaLoanData"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created (when `save_data=true`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                  }
                },
                "examples": {
                  "AccountsOfdaChecking": {
                    "$ref": "#/components/examples/AccountsOfdaChecking"
                  },
                  "AccountsOfdaCreditCard": {
                    "$ref": "#/components/examples/AccountsOfdaCreditCard"
                  },
                  "AccountsOfdaLoanData": {
                    "$ref": "#/components/examples/AccountsOfdaLoanData"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/accounts/{id}/": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "DetailAccount",
        "summary": "Get an account's details",
        "description": "Get the details of a specific account.\n\n\n{% admonition type=\"info\" %}\n  This resource may return deprecated fields. Please check the response documentation for more information.\n{% /admonition %}\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `account.id` you want to get detailed information about.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountOpenFinanceBrazil"
                },
                "examples": {
                  "AccountsOfdaChecking": {
                    "$ref": "#/components/examples/AccountsOfdaCheckingDetail"
                  },
                  "AccountsOfdaCreditCard": {
                    "$ref": "#/components/examples/AccountsOfdaCreditCardDetail"
                  },
                  "AccountsOfdaLoanData": {
                    "$ref": "#/components/examples/AccountsOfdaLoanDataDetail"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "DestroyAccount",
        "summary": "Delete an account",
        "description": "Delete a specific account from your Belvo account.\n\n{% admonition type=\"danger\" name=\"Rate Limited\" %}\n  This endpoint is rate limited. You can only delete 5 items per minute. If you exceed this limit, you will receive a `429` status code.\n{% /admonition %}\n\n{% admonition type=\"info\" %}\n  When you delete an account, all the associated transactions and owner information for that account are also removed.\n{% /admonition %}\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `account.id` you want to delete.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/br/balances/": {
      "get": {
        "tags": [
          "Balances"
        ],
        "operationId": "ListBalances",
        "summary": "List balances",
        "description": "## \u25b6\ufe0f Usage\n\nWith the List Balances method, you can:\n  \n  1. **[Required]** List balances related to a specific `link.id` (using the `link` query parameter).\n  2. **[Highly Recommended]** List balances related to a specific `link.id` and `account.id` (using the `link` and `account` query parameters).\n  2. Get the details of a specific `balance.id` (using the `id` query parameter).\n\n## \ud83d\udd26 Filtering Responses\n\nPlease see the query list below for a list of fields that you can filter your responses by. For more information on how to use filters, see our <a href=\"https://developers.belvo.com/docs/searching-and-filtering\" target=\"_blank\">Filtering responses</a> article.\n\n## \ud83d\udcd6 Pagination\n\nThis method returns a paginated response (default: 100 items per page). You can use the `page_size` query parameter to increase the number of items returned to a maximum of 1000 items. You can use the `page` query parameter to navigate through the results. For more details on how to navigate Belvo's paginated responses, see our <a href=\"https://developers.belvo.com/docs/belvo-pagination-tips\" target=\"_blank\">Pagination Tips</a> article.\n    \n## \ud83d\udea8 Deprecated Fields\n\nThis resource may return deprecated fields. In the response documentation you may see that a field has been marked as **deprecated**. This means that this field is no longer maintained by the Belvo team. You may still receive data for this field depending on the institution, however, you should not rely on this field.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/link__required"
          },
          {
            "$ref": "#/components/parameters/account"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/link__in"
          },
          {
            "$ref": "#/components/parameters/account__in"
          },
          {
            "$ref": "#/components/parameters/id__in"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/collected_at"
          },
          {
            "$ref": "#/components/parameters/collected_at__gt"
          },
          {
            "$ref": "#/components/parameters/collected_at__gte"
          },
          {
            "$ref": "#/components/parameters/collected_at__lt"
          },
          {
            "$ref": "#/components/parameters/collected_at__lte"
          },
          {
            "$ref": "#/components/parameters/collected_at__range"
          },
          {
            "$ref": "#/components/parameters/created_at"
          },
          {
            "$ref": "#/components/parameters/created_at__gt"
          },
          {
            "$ref": "#/components/parameters/created_at__gte"
          },
          {
            "$ref": "#/components/parameters/created_at__lt"
          },
          {
            "$ref": "#/components/parameters/created_at__lte"
          },
          {
            "$ref": "#/components/parameters/created_at__range"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Balances Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Balances (OFDA Brazil)",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/common_pagination_properties"
                    },
                    {
                      "properties": {
                        "results": {
                          "type": "array",
                          "description": "An array of balance objects.",
                          "items": {
                            "$ref": "#/components/schemas/BalanceOFDA"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "post": {
        "tags": [
          "Balances"
        ],
        "operationId": "RetrieveBalances",
        "summary": "Retrieve the current balance for a link",
        "description": "Retrieve the current account balance for all checking and savings  accounts for an existing link. We recommend also sending the `account.id` so that you receive balances for a specific account.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "link"
                ],
                "properties": {
                  "link": {
                    "$ref": "#/components/schemas/link_request"
                  },
                  "account_id": {
                    "$ref": "#/components/schemas/account_id"
                  },
                  "save_data": {
                    "$ref": "#/components/schemas/save_data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Balance Retrieved (when `save_data=false`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceOFDA"
                  }
                }
              }
            }
          },
          "201": {
            "description": "OK - Balance Retrieved (when `save_data=true`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceOFDA"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/br/balances/{id}/": {
      "get": {
        "tags": [
          "Balances"
        ],
        "operationId": "DetailBalance",
        "summary": "Get a balances's details",
        "description": "Get the details of a specific balance.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `balance.id` you want to get detailed information about.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceOFDA"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/transactions/": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "ListTransactions",
        "summary": "List transactions",
        "description": "## \u25b6\ufe0f Usage\n\nWith the List Transactions method, you can:\n\n1. **[Required]** List transactions related to a specific `link.id` (using the `link` query parameter).\n2. Filter the returned transactions using query parameters (see the Filtering responses section below).\n3. Get the details of a specific `transaction.id` (using the `id` query parameter along with the `link` query parameter).\n\n## \ud83d\udcd6 Pagination\n\nThis method returns a paginated response (default: 100 items per page). You can use the `page_size` query parameter to increase the number of items returned to a maximum of 1000 items. You can use the `page` query parameter to navigate through the results. For more details on how to navigate Belvo's paginated responses, see our <a href=\"https://developers.belvo.com/docs/belvo-pagination-tips\" target=\"_blank\">Pagination Tips</a> article.\n\n## \ud83d\udd26 Filtering Responses\n\nPlease see the query list below for a list of fields that you can filter your responses by. For more information on how to use filters, see our <a href=\"https://developers.belvo.com/docs/searching-and-filtering\" target=\"_blank\">Filtering responses</a> article.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/link__required"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/link__in"
          },
          {
            "$ref": "#/components/parameters/account"
          },
          {
            "$ref": "#/components/parameters/account__in"
          },
          {
            "$ref": "#/components/parameters/account__balance__available"
          },
          {
            "$ref": "#/components/parameters/account__balance__available__lt"
          },
          {
            "$ref": "#/components/parameters/account__balance__available__lte"
          },
          {
            "$ref": "#/components/parameters/account__balance__available__gt"
          },
          {
            "$ref": "#/components/parameters/account__balance__available__gte"
          },
          {
            "$ref": "#/components/parameters/account__balance__available__range"
          },
          {
            "$ref": "#/components/parameters/account__balance__current"
          },
          {
            "$ref": "#/components/parameters/account__balance__current__gt"
          },
          {
            "$ref": "#/components/parameters/account__balance__current__gte"
          },
          {
            "$ref": "#/components/parameters/account__balance__current__lt"
          },
          {
            "$ref": "#/components/parameters/account__balance__current__lte"
          },
          {
            "$ref": "#/components/parameters/account__balance__current__range"
          },
          {
            "$ref": "#/components/parameters/account_type"
          },
          {
            "$ref": "#/components/parameters/account_type__in"
          },
          {
            "$ref": "#/components/parameters/accounting_date"
          },
          {
            "$ref": "#/components/parameters/accounting_date__gt"
          },
          {
            "$ref": "#/components/parameters/accounting_date__gte"
          },
          {
            "$ref": "#/components/parameters/accounting_date__lt"
          },
          {
            "$ref": "#/components/parameters/accounting_date__lte"
          },
          {
            "$ref": "#/components/parameters/accounting_date__range"
          },
          {
            "$ref": "#/components/parameters/amount"
          },
          {
            "$ref": "#/components/parameters/amount__gt"
          },
          {
            "$ref": "#/components/parameters/amount__gte"
          },
          {
            "$ref": "#/components/parameters/amount__lt"
          },
          {
            "$ref": "#/components/parameters/amount__lte"
          },
          {
            "$ref": "#/components/parameters/amount__range"
          },
          {
            "$ref": "#/components/parameters/collected_at"
          },
          {
            "$ref": "#/components/parameters/collected_at__gt"
          },
          {
            "$ref": "#/components/parameters/collected_at__gte"
          },
          {
            "$ref": "#/components/parameters/collected_at__lt"
          },
          {
            "$ref": "#/components/parameters/collected_at__lte"
          },
          {
            "$ref": "#/components/parameters/collected_at__range"
          },
          {
            "$ref": "#/components/parameters/created_at"
          },
          {
            "$ref": "#/components/parameters/created_at__gt"
          },
          {
            "$ref": "#/components/parameters/created_at__gte"
          },
          {
            "$ref": "#/components/parameters/created_at__lt"
          },
          {
            "$ref": "#/components/parameters/created_at__lte"
          },
          {
            "$ref": "#/components/parameters/created_at__range"
          },
          {
            "$ref": "#/components/parameters/currency"
          },
          {
            "$ref": "#/components/parameters/currency__in"
          },
          {
            "$ref": "#/components/parameters/credit_card_data__bill_name__in"
          },
          {
            "$ref": "#/components/parameters/reference"
          },
          {
            "$ref": "#/components/parameters/reference__in"
          },
          {
            "$ref": "#/components/parameters/status_transactions"
          },
          {
            "$ref": "#/components/parameters/status__in_transactions"
          },
          {
            "$ref": "#/components/parameters/type_transactions"
          },
          {
            "$ref": "#/components/parameters/type__in_transactions"
          },
          {
            "$ref": "#/components/parameters/value_date"
          },
          {
            "$ref": "#/components/parameters/value_date__gt"
          },
          {
            "$ref": "#/components/parameters/value_date__gte"
          },
          {
            "$ref": "#/components/parameters/value_date__lt"
          },
          {
            "$ref": "#/components/parameters/value_date__lte"
          },
          {
            "$ref": "#/components/parameters/value_date__range"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Transactions (OFDA Brazil)",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/common_pagination_properties"
                    },
                    {
                      "properties": {
                        "results": {
                          "type": "array",
                          "description": "Array of transaction objects (OFDA Brazil).",
                          "items": {
                            "$ref": "#/components/schemas/TransactionOpenFinanceBrazil"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "RetrieveTransactions",
        "summary": "Retrieve transactions for a link",
        "description": "Retrieve transactions for one or more accounts from a specific link.\n\n> \ud83d\udcd8 Transaction Periods and Retrieval\n>\n> When retrieving transactions, it is important to understand that the available transaction data ranges depend on each institution.  If you try to access older information than what we can access, we will return all the data we can read within that date range. For example, if you request transactions for the last year and we can only access the last six months, we will return the information corresponding to these six months of data.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/async"
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for the Retrieve Transactions method.",
                "required": [
                  "link",
                  "date_from",
                  "date_to"
                ],
                "properties": {
                  "link": {
                    "$ref": "#/components/schemas/link_request"
                  },
                  "account": {
                    "type": "string",
                    "format": "uuid",
                    "description": "If provided, we return transactions only from this account.",
                    "example": "d4617561-1c01-4b2f-83b6-a594f7b3bc57"
                  },
                  "date_from": {
                    "$ref": "#/components/schemas/date_from"
                  },
                  "date_to": {
                    "$ref": "#/components/schemas/date_to"
                  },
                  "token": {
                    "$ref": "#/components/schemas/token"
                  },
                  "save_data": {
                    "$ref": "#/components/schemas/save_data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok (when `save_data=false`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionOpenFinanceBrazil"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created (when `save_data=true`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionOpenFinanceBrazil"
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_accepted_response"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Transactions"
        ],
        "operationId": "PatchTransactions",
        "summary": "Complete a transactions request",
        "description": "Used to resume a Transaction retrieve session that was paused because an MFA\ntoken was required by the institution.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok (when `save_data=false`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionOpenFinanceBrazil"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created (when `save_data=true`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionOpenFinanceBrazil"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/transactions/{id}/": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "DetailTransaction",
        "summary": "Get a transaction's details",
        "description": "Get the details of a specific transaction.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `transaction.id` you want to get detailed information about.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionOpenFinanceBrazil"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "delete": {
        "tags": [
          "Transactions"
        ],
        "operationId": "DestroyTransaction",
        "summary": "Delete a transaction",
        "description": "Delete a specific transaction from your Belvo account.\n\n> \u2757\ufe0f Rate limited\n>\n> This endpoint is rate limited. You can only delete 5 items per minute. If you exceed this limit, you will receive a `429` status code.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `transaction.id` that you want to delete.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "428": {
            "$ref": "#/components/responses/428_token_required_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      }
    },
    "/api/bills/": {
      "get": {
        "tags": [
          "Bills"
        ],
        "operationId": "ListBills",
        "summary": "List bills",
        "description": "## \u25b6\ufe0f Usage\n\nWith the List Bills method, you can:\n\n1. **[Required]** List bills related to a specific link.id (using the `link` query parameter).\n2. Filter the returned bills using query parameters (see the Filtering responses section below).\n3. Get the details of a specific bill.id (using the `id` query parameter).\n\n## \ud83d\udcd6 Pagination\n\nThis method returns a paginated response (default: 100 items per page). You can use the `page_size` query parameter to increase the number of items returned to a maximum of 1000 items. You can use the `page` query parameter to navigate through the results. For more details on how to navigate Belvo's paginated responses, see our <a href=\"https://developers.belvo.com/docs/belvo-pagination-tips\" target=\"_blank\">Pagination Tips</a> article.\n\n## \ud83d\udd26 Filtering Responses\n\nPlease see the query list below for a list of fields that you can filter your responses by. For more information on how to use filters, see our <a href=\"https://developers.belvo.com/docs/searching-and-filtering\" target=\"_blank\">Filtering responses</a> article.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/link__required"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/id__in"
          },
          {
            "$ref": "#/components/parameters/account"
          },
          {
            "$ref": "#/components/parameters/account__in"
          },
          {
            "$ref": "#/components/parameters/due_date"
          },
          {
            "$ref": "#/components/parameters/due_date__gt"
          },
          {
            "$ref": "#/components/parameters/due_date__gte"
          },
          {
            "$ref": "#/components/parameters/due_date__lt"
          },
          {
            "$ref": "#/components/parameters/due_date__lte"
          },
          {
            "$ref": "#/components/parameters/due_date__range"
          },
          {
            "$ref": "#/components/parameters/collected_at__gt"
          },
          {
            "$ref": "#/components/parameters/collected_at__gte"
          },
          {
            "$ref": "#/components/parameters/collected_at__lt"
          },
          {
            "$ref": "#/components/parameters/collected_at__lte"
          },
          {
            "$ref": "#/components/parameters/collected_at__range"
          },
          {
            "$ref": "#/components/parameters/created_at"
          },
          {
            "$ref": "#/components/parameters/created_at__gt"
          },
          {
            "$ref": "#/components/parameters/created_at__gte"
          },
          {
            "$ref": "#/components/parameters/created_at__lt"
          },
          {
            "$ref": "#/components/parameters/created_at__lte"
          },
          {
            "$ref": "#/components/parameters/created_at__range"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Bills",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/common_pagination_properties"
                    },
                    {
                      "properties": {
                        "results": {
                          "type": "array",
                          "description": "An array of Bill objects.",
                          "items": {
                            "$ref": "#/components/schemas/Bill"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401_unauthorized_error"
          },
          "403": {
            "$ref": "#/components/responses/403_access_denied_error"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found_error"
          },
          "408": {
            "$ref": "#/components/responses/408_request_timeout_error"
          },
          "500": {
            "$ref": "#/components/responses/500_unexpected_error"
          }
        }
      },
      "post": {
        "tags": [
          "Bills"
        ],
        "operationId": "RetrieveBills",
        "summary": "Retrieve bills for a link",
        "description": "Retrieve bills from one or more accounts for a specific link within a\nspecified date range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/omit"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "link"
                ],
                "properties": {
                  "link": {
                    "$ref": "#/components/schemas/link_request"
                  },
                  "save_data": {
                    "$ref": "#/components/schemas/save_data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok (when `save_data=false`)",
            "content": {
              "application/json": {
[...]
